language: python
sudo: false
python:
  - "2.7"
  - "3.5"
  - "3.6"
matrix:
  include:
    - python: "3.7"
      dist: xenial  # required for Python >= 3.7 (travis-ci/travis-ci#9069)
    - python: "3.8-dev"
      dist: xenial  # required for Python >= 3.7 (travis-ci/travis-ci#9069)
script: "pip install -r requirements.dev && nosetests -v --stop && flake8"
