run_tests: &run_tests
    - run:
        name: install zenpy
        command: |
          python -m venv venv
          . venv/bin/activate
          pip install -r requirements.dev
          make pytest

version: 2
jobs:
  python3.8:
    docker:
      - image: cimg/python:3.8
    working_director: ~/repo
    steps:
      - checkout
      - <<: *run_tests
  python3.9:
    docker:
      - image: cimg/python:3.9
    working_director: ~/repo
    steps:
      - checkout
      - <<: *run_tests

workflows:
  version: 2
  build_and_test:
    jobs:
      - python3.8
      - python3.9
