{
  "http_interactions": [
    {
      "recorded_at": "2023-12-24T07:24:55",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"custom_status\": {\"agent_label\": \"agent\", \"end_user_label\": \"end\", \"status_category\": \"open\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/custom_statuses.json"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"custom_status\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/custom_statuses/22644162812557.json\",\"id\":22644162812557,\"status_category\":\"open\",\"agent_label\":\"agent\",\"raw_agent_label\":\"agent\",\"end_user_label\":\"end\",\"raw_end_user_label\":\"end\",\"description\":null,\"raw_description\":null,\"end_user_description\":null,\"raw_end_user_description\":null,\"active\":true,\"default\":false,\"created_at\":\"2023-12-24T07:24:55Z\",\"updated_at\":\"2023-12-24T07:24:55Z\"}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"8043518af671b2a4c8d79164a8c4dc80\""
          ],
          "location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/custom_statuses/22644162812557.json"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "699"
          ],
          "rate-limit-reset": [
            "5"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "699"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-application-version": [
            "v19488"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-69bcc7ff5-vdxfw"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/custom_statuses.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}
