{
  "http_interactions": [
    {
      "recorded_at": "2024-08-19T23:23:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"content_tag\": {\"name\": \"mama_was_a_rolling_stone\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/guide/content_tags"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"content_tag\":{\"id\":\"01J5PF7BSAKH4BWHWBAN8WRRCW\",\"name\":\"mama_was_a_rolling_stone\",\"created_at\":\"2024-08-19T23:23:15.114Z\",\"updated_at\":\"2024-08-19T23:23:15.114Z\"}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Zendesk-API-Gateway": [
            "yes"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "698"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-application-version": [
            "v464"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/guide/content_tags"
      }
    },
    {
      "recorded_at": "2024-08-19T23:23:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"content_tag\": {\"id\": \"01J5PF7BSAKH4BWHWBAN8WRRCW\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/guide/content_tags/01J5PF7BSAKH4BWHWBAN8WRRCW"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Zendesk-API-Gateway": [
            "yes"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "697"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-application-version": [
            "v464"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/guide/content_tags/01J5PF7BSAKH4BWHWBAN8WRRCW"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}