{
  "http_interactions": [
    {
      "recorded_at": "2017-04-22T17:02:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"organization\": {\"created_at\": \"2017-04-22T17:02:35Z\", \"id\": 16465043468, \"name\": \"testOrganization5f70c73e0d740a3a3f82c06715177d7c311e49e7\", \"shared_comments\": false, \"shared_tickets\": false, \"tags\": [], \"updated_at\": \"2017-04-22T17:02:35Z\", \"url\": \"https://facetoe1.zendesk.com/api/v2/organizations/16465043468.json\", \"domain_names\": []}}"
        },
        "headers": {
          "Authorization": "Basic ZmFjZXRvZUBmYWNldG9lLmNvbS5hdS90b2tlbjpkbWZIVnh6ak90b0ZsVlhJNnMzeFE2YmQ1dXZ1RG5Sb0kydkZWWW85",
          "Content-type": "application/json"
        },
        "method": "DELETE",
        "uri": "https://facetoe1.zendesk.com/api/v2/organizations/16465043468.json&include="
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Rate-Limit": "400",
          "X-Rate-Limit-Remaining": "388",
          "X-Zendesk-API-Version": "v2",
          "X-Zendesk-API-Warn": "Removed restricted keys [\"created_at\", \"name\", \"shared_comments\", \"shared_tickets\", \"tags\", \"updated_at\", \"url\", \"domain_names\", \"organization\"] from parameters according to whitelist",
          "X-Zendesk-Application-Version": "v20.24",
          "X-Zendesk-Origin-Server": "app44.pod5.iad1.zdsys.com",
          "X-Zendesk-Request-Id": "a314399a7f6b2692568c"
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://facetoe1.zendesk.com/api/v2/organizations/16465043468.json&include="
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}