{
  "http_interactions": [
    {
      "recorded_at": "2023-09-18T23:22:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"category\": {\"description\": \"this is a test\", \"name\": \"test\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/help_center/categories.json"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"category\":{\"id\":6164054233498,\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/help_center/en-us/categories/6164054233498.json\",\"html_url\":\"https://d3v-zenpydev.zendesk.com/hc/en-us/categories/6164054233498-test\",\"position\":0,\"created_at\":\"2023-09-18T23:22:17Z\",\"updated_at\":\"2023-09-18T23:22:17Z\",\"name\":\"test\",\"description\":\"this is a test\",\"locale\":\"en-us\",\"source_locale\":\"en-us\",\"outdated\":false}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Protocol": [
            "HTTP/1.1 always"
          ],
          "etag": [
            "W/\"0d9ad7bcc87a5d3a5da5f245bcb4bd8b\""
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "698"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-origin-server": [
            "help-center-unicorn-6bcc4cc7b5-xk7bx"
          ],
          "x-zendesk-processed-host-header": [
            "d3v-zenpydev.zendesk.com"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/help_center/categories.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}