{
  "http_interactions": [
    {
      "recorded_at": "2018-03-30T06:17:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"ticket\": {\"id\": 5372}}"
        },
        "headers": {
          "Authorization": [
            "Basic c2luayt6ZW5kZXNrQGZhY2V0b2UuY29tLmF1L3Rva2VuOnBUNXQ2ZEZ4QWltU1hoNEkydjBYeVMwSkNlYVV4eWROQUxFRkV1VWM="
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/tickets/5372.json"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Rate-Limit": [
            "700"
          ],
          "X-Rate-Limit-Remaining": [
            "690"
          ],
          "X-Zendesk-API-Version": [
            "v2"
          ],
          "X-Zendesk-API-Warn": [
            "Removed restricted keys [\"ticket.id\", \"ticket\"] from parameters according to whitelist"
          ],
          "X-Zendesk-Application-Version": [
            "v757.19"
          ],
          "X-Zendesk-Origin-Server": [
            "app25.pod13.usw2.zdsys.com"
          ],
          "X-Zendesk-Request-Id": [
            "331353cd74740cf3a740"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/tickets/5372.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}