{
  "http_interactions": [
    {
      "recorded_at": "2018-08-05T02:57:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"ticket\": {\"description\": \"test\", \"id\": null, \"subject\": \"test\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic c2luayt6ZW5kZXNrQGZhY2V0b2UuY29tLmF1L3Rva2VuOnZZaWRJVlJiVUdsekRqRVVUNjNVeURWTmt3MGVPSHIxRFptRE5pNnM="
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/tickets.json"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"ticket\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/tickets/6793.json\",\"id\":6793,\"external_id\":null,\"via\":{\"channel\":\"api\",\"source\":{\"from\":{},\"to\":{},\"rel\":null}},\"created_at\":\"2018-08-05T02:58:01Z\",\"updated_at\":\"2018-08-05T02:58:01Z\",\"type\":null,\"subject\":\"test\",\"raw_subject\":\"test\",\"description\":\"test\",\"priority\":null,\"status\":\"open\",\"recipient\":null,\"requester_id\":116514121092,\"submitter_id\":116514121092,\"assignee_id\":116514121092,\"organization_id\":115219725952,\"group_id\":114095995451,\"collaborator_ids\":[],\"follower_ids\":[],\"email_cc_ids\":[],\"forum_topic_id\":null,\"problem_id\":null,\"has_incidents\":false,\"is_public\":true,\"due_at\":null,\"tags\":[\"stuff\",\"thing\"],\"custom_fields\":[{\"id\":360006890512,\"value\":null},{\"id\":360001824571,\"value\":null}],\"satisfaction_rating\":{\"score\":\"unoffered\"},\"sharing_agreement_ids\":[],\"fields\":[{\"id\":360006890512,\"value\":null},{\"id\":360001824571,\"value\":null}],\"followup_ids\":[],\"ticket_form_id\":114094015291,\"brand_id\":114095174732,\"satisfaction_probability\":null,\"allow_channelback\":false,\"allow_attachments\":true},\"audit\":{\"id\":419204354152,\"ticket_id\":6793,\"created_at\":\"2018-08-05T02:58:01Z\",\"author_id\":116514121092,\"metadata\":{\"system\":{\"client\":\"Zenpy/1.2\",\"ip_address\":\"220.235.48.216\",\"location\":\"Turner, 01, Australia\",\"latitude\":-35.27080000000001,\"longitude\":149.13569999999999},\"custom\":{}},\"events\":[{\"id\":419204354192,\"type\":\"Comment\",\"author_id\":116514121092,\"body\":\"test\",\"html_body\":\"<div class=\\\"zd-comment\\\"><p dir=\\\"auto\\\">test</p></div>\",\"plain_body\":\"test\",\"public\":true,\"attachments\":[],\"audit_id\":419204354152},{\"id\":419204354232,\"type\":\"Create\",\"value\":\"test\",\"field_name\":\"subject\"},{\"id\":419204354252,\"type\":\"Create\",\"value\":\"116514121092\",\"field_name\":\"requester_id\"},{\"id\":419204354272,\"type\":\"Create\",\"value\":\"open\",\"field_name\":\"status\"},{\"id\":419204354292,\"type\":\"Create\",\"value\":null,\"field_name\":\"priority\"},{\"id\":419204354312,\"type\":\"Create\",\"value\":null,\"field_name\":\"type\"},{\"id\":419204354332,\"type\":\"Create\",\"value\":\"115219725952\",\"field_name\":\"organization_id\"},{\"id\":419204354352,\"type\":\"Create\",\"value\":[\"stuff\",\"thing\"],\"field_name\":\"tags\"},{\"id\":419204354372,\"type\":\"Create\",\"value\":\"114095995451\",\"field_name\":\"group_id\"},{\"id\":419204354392,\"type\":\"Create\",\"value\":\"116514121092\",\"field_name\":\"assignee_id\"},{\"id\":419204354412,\"type\":\"Create\",\"value\":\"114095174732\",\"field_name\":\"brand_id\"},{\"id\":419204354432,\"type\":\"Create\",\"value\":\"114094015291\",\"field_name\":\"ticket_form_id\"}],\"via\":{\"channel\":\"api\",\"source\":{\"from\":{},\"to\":{},\"rel\":null}}}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "ETag": [
            "W/\"8a16c6c7a0400384c0fba175aae1bd94\""
          ],
          "Location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/tickets/6793.json"
          ],
          "X-Rate-Limit": [
            "700"
          ],
          "X-Rate-Limit-Remaining": [
            "699"
          ],
          "X-Zendesk-API-Version": [
            "v2"
          ],
          "X-Zendesk-API-Warn": [
            "Removed restricted keys [\"ticket.id\"] from parameters according to whitelist"
          ],
          "X-Zendesk-Application-Version": [
            "v1989.15"
          ],
          "X-Zendesk-Origin-Server": [
            "app57.pod13.usw2.zdsys.com"
          ],
          "X-Zendesk-Request-Id": [
            "e3f4751cdb831f808c39"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/tickets.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}