{
  "http_interactions": [
    {
      "recorded_at": "2017-04-20T16:06:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"group\": {\"name\": \"testGroup\"}}"
        },
        "headers": {
          "Authorization": "Basic ZmFjZXRvZUBmYWNldG9lLmNvbS5hdS90b2tlbjpkbWZIVnh6ak90b0ZsVlhJNnMzeFE2YmQ1dXZ1RG5Sb0kydkZWWW85",
          "Content-type": "application/json"
        },
        "method": "POST",
        "uri": "https://facetoe1.zendesk.com/api/v2/groups.json?&include=users"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"group\":{\"url\":\"https://facetoe1.zendesk.com/api/v2/groups/41728647.json\",\"id\":41728647,\"name\":\"testGroup\",\"deleted\":false,\"created_at\":\"2017-04-20T16:07:01Z\",\"updated_at\":\"2017-04-20T16:07:01Z\",\"user_ids\":[]},\"users\":[]}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "ETag": "\"09d2455cbe9d045e47220c6e1e37c680\"",
          "Location": "https://facetoe1.zendesk.com/api/v2/groups/41728647.json",
          "X-Rate-Limit": "400",
          "X-Rate-Limit-Remaining": "399",
          "X-Zendesk-API-Version": "v2",
          "X-Zendesk-Application-Version": "v19.33",
          "X-Zendesk-Origin-Server": "app16.pod5.iad1.zdsys.com",
          "X-Zendesk-Request-Id": "c4a210850fc2e05fa3c7"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://facetoe1.zendesk.com/api/v2/groups.json?&include=users"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}