{
  "http_interactions": [
    {
      "recorded_at": "2024-09-06T23:09:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"article\": {\"body\": \"<p>Article html content body does not notifies subscribers</p>\", \"created_at\": \"2024-09-06\", \"locale\": \"en-us\", \"name\": \"Notify None Article Name\", \"permission_group_id\": 33152086795411, \"section_id\": 33152317085843, \"title\": \"Notify None Article Name\", \"updated_at\": \"2024-09-06\", \"user_segment_id\": 33152086785683}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/help_center/sections/33152317085843/articles.json"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"article\":{\"id\":33153710247315,\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/help_center/en-us/articles/33153710247315-Notify-None-Article-Name.json\",\"html_url\":\"https://d3v-zenpydev.zendesk.com/hc/en-us/articles/33153710247315-Notify-None-Article-Name\",\"author_id\":26155588908179,\"comments_disabled\":false,\"content_tag_ids\":[],\"label_names\":[],\"draft\":false,\"promoted\":false,\"position\":0,\"vote_sum\":0,\"vote_count\":0,\"section_id\":33152317085843,\"created_at\":\"2024-09-06T23:09:58Z\",\"updated_at\":\"2024-09-06T23:09:58Z\",\"edited_at\":\"2024-09-06T23:09:58Z\",\"name\":\"Notify None Article Name\",\"title\":\"Notify None Article Name\",\"body\":\"\\u003cp\\u003eArticle html content body does not notifies subscribers\\u003c/p\\u003e\",\"source_locale\":\"en-us\",\"locale\":\"en-us\",\"outdated\":false,\"outdated_locales\":[],\"permission_group_id\":33152086795411,\"user_segment_id\":33152086785683,\"user_segment_ids\":[33152086785683]}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Protocol": [
            "HTTP/1.1 always"
          ],
          "X-Zendesk-API-Gateway": [
            "yes"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"567b3dbd807d32c9ef503890d9ab68dc\""
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "697"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-origin-server": [
            "app-server-cd59c7886-5cngk"
          ],
          "x-zendesk-processed-host-header": [
            "d3v-zenpydev.zendesk.com"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/help_center/sections/33152317085843/articles.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}