{
  "http_interactions": [
    {
      "recorded_at": "2023-08-16T14:46:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"category\": {\"description\": \"this is a test\", \"id\": null, \"name\": \"test\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/help_center/categories.json"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"category\":{\"id\":13120427308050,\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/help_center/ru/categories/13120427308050.json\",\"html_url\":\"https://d3v-zenpydev.zendesk.com/hc/ru/categories/13120427308050-test\",\"position\":0,\"created_at\":\"2023-08-16T14:46:15Z\",\"updated_at\":\"2023-08-16T14:46:15Z\",\"name\":\"test\",\"description\":\"this is a test\",\"locale\":\"ru\",\"source_locale\":\"ru\",\"outdated\":false}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Protocol": [
            "HTTP/1.1 always"
          ],
          "etag": [
            "W/\"458f3557568505295b3cc53c37a740a2\""
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "696"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-origin-server": [
            "help-center-unicorn-795c55dbfb-phrlg"
          ],
          "x-zendesk-processed-host-header": [
            "d3v-ontec.zendesk.com"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/help_center/categories.json"
      }
    },
    {
      "recorded_at": "2023-08-16T14:46:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"category\": {\"id\": 13120427308050}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/help_center/categories/13120427308050.json"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "Protocol": [
            "HTTP/1.1 always"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "695"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-origin-server": [
            "help-center-unicorn-795c55dbfb-99m5z"
          ],
          "x-zendesk-processed-host-header": [
            "d3v-ontec.zendesk.com"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/help_center/categories/13120427308050.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}