{
  "http_interactions": [
    {
      "recorded_at": "2017-04-22T17:04:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"ticket\": {\"assignee_id\": 21311632247, \"brand_id\": 7159727, \"collaborator_ids\": [], \"created_at\": \"2017-04-22T17:05:05Z\", \"description\": \"testa94a8fe5ccb19ba61c4c0873d391e987982fbbd3\", \"group_id\": 41661887, \"has_incidents\": false, \"id\": 10287, \"raw_subject\": \"test\", \"requester_id\": 21311632247, \"sharing_agreement_ids\": [], \"subject\": \"testa94a8fe5ccb19ba61c4c0873d391e987982fbbd3\", \"submitter_id\": 21311632247, \"tags\": [], \"updated_at\": \"2017-04-22T17:05:05Z\", \"url\": \"https://facetoe1.zendesk.com/api/v2/tickets/10287.json\", \"is_public\": true, \"allow_channelback\": false, \"via\": {\"channel\": \"api\", \"source\": {\"to\": {}, \"from\": {}}}}}"
        },
        "headers": {
          "Authorization": "Basic ZmFjZXRvZUBmYWNldG9lLmNvbS5hdS90b2tlbjpkbWZIVnh6ak90b0ZsVlhJNnMzeFE2YmQ1dXZ1RG5Sb0kydkZWWW85",
          "Content-type": "application/json"
        },
        "method": "DELETE",
        "uri": "https://facetoe1.zendesk.com/api/v2/tickets/10287.json&include=users,groups,organizations"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Rate-Limit": "400",
          "X-Rate-Limit-Remaining": "391",
          "X-Zendesk-API-Version": "v2",
          "X-Zendesk-API-Warn": "Removed restricted keys [\"assignee_id\", \"brand_id\", \"collaborator_ids\", \"created_at\", \"description\", \"group_id\", \"has_incidents\", \"raw_subject\", \"requester_id\", \"sharing_agreement_ids\", \"subject\", \"submitter_id\", \"tags\", \"updated_at\", \"url\", \"is_public\", \"allow_channelback\", \"channel\", \"to\", \"from\", \"source\", \"via\", \"ticket\"] from parameters according to whitelist",
          "X-Zendesk-Application-Version": "v20.24",
          "X-Zendesk-Origin-Server": "app43.pod5.iad1.zdsys.com",
          "X-Zendesk-Request-Id": "68eb47b57bfed7461545"
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://facetoe1.zendesk.com/api/v2/tickets/10287.json&include=users,groups,organizations"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}