{
  "http_interactions": [
    {
      "recorded_at": "2017-04-22T17:02:22",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"macro\": {\"active\": true, \"created_at\": \"2017-04-22T17:02:29Z\", \"id\": 305880347, \"position\": 10000, \"title\": \"TestMacro\", \"updated_at\": \"2017-04-22T17:02:29Z\", \"url\": \"https://facetoe1.zendesk.com/api/v2/macros/305880347.json\", \"actions\": [{\"field\": \"status\", \"value\": \"solved\"}]}}"
        },
        "headers": {
          "Authorization": "Basic ZmFjZXRvZUBmYWNldG9lLmNvbS5hdS90b2tlbjpkbWZIVnh6ak90b0ZsVlhJNnMzeFE2YmQ1dXZ1RG5Sb0kydkZWWW85",
          "Content-type": "application/json"
        },
        "method": "DELETE",
        "uri": "https://facetoe1.zendesk.com/api/v2/macros/305880347.json"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Rate-Limit": "400",
          "X-Rate-Limit-Remaining": "397",
          "X-Zendesk-API-Version": "v2",
          "X-Zendesk-API-Warn": "Removed restricted keys [\"active\", \"created_at\", \"position\", \"title\", \"updated_at\", \"url\", \"actions\", \"macro\"] from parameters according to whitelist",
          "X-Zendesk-Application-Version": "v20.24",
          "X-Zendesk-Origin-Server": "app1.pod5.iad1.zdsys.com",
          "X-Zendesk-Request-Id": "ab9bbe701360f66dec4d"
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://facetoe1.zendesk.com/api/v2/macros/305880347.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}