{
  "http_interactions": [
    {
      "recorded_at": "2018-07-07T06:57:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"organization_field\": {\"description\": \"test\", \"id\": null, \"key\": \"somethingsomethingsomething\", \"title\": \"i am test\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic c2luayt6ZW5kZXNrQGZhY2V0b2UuY29tLmF1L3Rva2VuOnlHeUd3VHJsYnZNc3JhU0dnOFowTE1tQUw2MXNoVlVCS2JmQlRFeUc="
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/organization_fields.json"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"organization_field\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/organization_fields/360000188651.json\",\"id\":360000188651,\"type\":\"text\",\"key\":\"somethingsomethingsomething\",\"title\":\"i am test\",\"description\":\"test\",\"raw_title\":\"i am test\",\"raw_description\":\"test\",\"position\":9999,\"active\":true,\"system\":false,\"regexp_for_validation\":null,\"created_at\":\"2018-07-07T06:57:07Z\",\"updated_at\":\"2018-07-07T06:57:07Z\"}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "ETag": [
            "W/\"957865f2b785cb39d1de91bd2cdad9ed\""
          ],
          "Location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/organization_fields/360000188651.json"
          ],
          "X-Rate-Limit": [
            "700"
          ],
          "X-Rate-Limit-Remaining": [
            "696"
          ],
          "X-Zendesk-API-Version": [
            "v2"
          ],
          "X-Zendesk-API-Warn": [
            "Removed restricted keys [\"organization_field.id\"] from parameters according to whitelist"
          ],
          "X-Zendesk-Application-Version": [
            "v1673.37"
          ],
          "X-Zendesk-Origin-Server": [
            "app7.pod13.usw2.zdsys.com"
          ],
          "X-Zendesk-Request-Id": [
            "d6616b1be15fcd04031c"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/organization_fields.json"
      }
    },
    {
      "recorded_at": "2018-07-07T06:57:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"organization_field\": {\"id\": 360000188651}}"
        },
        "headers": {
          "Authorization": [
            "Basic c2luayt6ZW5kZXNrQGZhY2V0b2UuY29tLmF1L3Rva2VuOnlHeUd3VHJsYnZNc3JhU0dnOFowTE1tQUw2MXNoVlVCS2JmQlRFeUc="
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
      [...]
