{
  "http_interactions": [
    {
      "recorded_at": "2017-04-22T17:01:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"group\": {\"created_at\": \"2017-04-22T17:01:57Z\", \"deleted\": false, \"id\": 41798828, \"name\": \"testGroup\", \"updated_at\": \"2017-04-22T17:01:57Z\", \"url\": \"https://facetoe1.zendesk.com/api/v2/groups/41798828.json\", \"user_ids\": []}}"
        },
        "headers": {
          "Authorization": "Basic ZmFjZXRvZUBmYWNldG9lLmNvbS5hdS90b2tlbjpkbWZIVnh6ak90b0ZsVlhJNnMzeFE2YmQ1dXZ1RG5Sb0kydkZWWW85",
          "Content-type": "application/json"
        },
        "method": "DELETE",
        "uri": "https://facetoe1.zendesk.com/api/v2/groups/41798828.json&include=users"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Rate-Limit": "400",
          "X-Rate-Limit-Remaining": "394",
          "X-Zendesk-API-Version": "v2",
          "X-Zendesk-API-Warn": "Removed restricted keys [\"created_at\", \"deleted\", \"name\", \"updated_at\", \"url\", \"user_ids\", \"group\"] from parameters according to whitelist",
          "X-Zendesk-Application-Version": "v20.24",
          "X-Zendesk-Origin-Server": "app40.pod5.iad1.zdsys.com",
          "X-Zendesk-Request-Id": "1dd54fc197d8146ce8b7"
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://facetoe1.zendesk.com/api/v2/groups/41798828.json&include=users"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}