{
  "http_interactions": [
    {
      "recorded_at": "2018-03-30T05:55:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"group\": {\"id\": null, \"name\": \"testGroup\"}}"
        },
        "headers": {
          "Authorization": "Basic c2luayt6ZW5kZXNrQGZhY2V0b2UuY29tLmF1L3Rva2VuOnBUNXQ2ZEZ4QWltU1hoNEkydjBYeVMwSkNlYVV4eWROQUxFRkV1VWM=",
          "Content-Type": "application/json"
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/groups.json"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"group\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/groups/360000657431.json\",\"id\":360000657431,\"name\":\"testGroup\",\"deleted\":false,\"created_at\":\"2018-03-30T05:55:44Z\",\"updated_at\":\"2018-03-30T05:55:44Z\"}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "ETag": "\"9be2ee9d67f9bf6158ae1d04da6440ed\"",
          "Location": "https://d3v-zenpydev.zendesk.com/api/v2/groups/360000657431.json",
          "X-Rate-Limit": "700",
          "X-Rate-Limit-Remaining": "681",
          "X-Zendesk-API-Version": "v2",
          "X-Zendesk-API-Warn": "Removed restricted keys [\"group.id\"] from parameters according to whitelist",
          "X-Zendesk-Application-Version": "v757.19",
          "X-Zendesk-Origin-Server": "app58.pod13.usw2.zdsys.com",
          "X-Zendesk-Request-Id": "cdcdbbb1e6c6593b0057"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/groups.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}