{
  "http_interactions": [
    {
      "recorded_at": "2023-09-17T04:45:23",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"topic\": {\"description\": \"this is a Topic test\", \"id\": \"\", \"name\": \"test\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/community/topics.json"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"topic\":{\"id\":6157873175578,\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/help_center/community/topics/6157873175578.json\",\"html_url\":\"https://d3v-zenpydev.zendesk.com/hc/en-us/community/topics/6157873175578-test\",\"name\":\"test\",\"description\":\"this is a Topic test\",\"position\":0,\"follower_count\":0,\"community_id\":6130869406490,\"created_at\":\"2023-09-17T04:45:22Z\",\"updated_at\":\"2023-09-17T04:45:22Z\",\"manageable_by\":\"staff\",\"user_segment_id\":null}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"a765c5dd2d8189509cd6cd503b0a581f\""
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "698"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-origin-server": [
            "help-center-unicorn-758949c487-cwkvf"
          ],
          "x-zendesk-processed-host-header": [
            "d3v-zenpydev.zendesk.com"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/community/topics.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}