{
  "http_interactions": [
    {
      "recorded_at": "2023-08-16T14:55:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"macro\": {\"actions\": [{\"field\": \"status\", \"value\": \"solved\"}], \"id\": null, \"title\": \"TestMacro\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/macros.json"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"macro\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/macros/13120627302418.json\",\"id\":13120627302418,\"title\":\"TestMacro\",\"active\":true,\"updated_at\":\"2023-08-16T14:55:06Z\",\"created_at\":\"2023-08-16T14:55:06Z\",\"default\":false,\"position\":55,\"description\":null,\"actions\":[{\"field\":\"status\",\"value\":\"solved\"}],\"restriction\":null,\"raw_title\":\"TestMacro\"}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"2d43ea6220cf1fd72d68d82a251e0690\""
          ],
          "location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/macros/13120627302418.json"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "675"
          ],
          "rate-limit-reset": [
            "54"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "675"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-api-warn": [
            "{:allowed_parameters=>{:controller=>\"macros\", :action=>\"create\", :unpermitted_keys=>[\"macro.id\"], :invalid_values=>[]}}"
          ],
          "x-zendesk-application-version": [
            "v17988"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-8589bd8f84-z6t8g"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/macros.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}