{
  "http_interactions": [
    {
      "recorded_at": "2023-08-16T14:54:31",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/octet-stream"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/uploads.json?filename=README.md"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"upload\":{\"token\":\"avKJBmOFlU3R50C5hiPr67BMt\",\"expires_at\":\"2023-08-19T14:54:31Z\",\"attachments\":[{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/attachments/13120664634514.json\",\"id\":13120664634514,\"file_name\":\"README.md\",\"content_url\":\"https://d3v-zenpydev.zendesk.com/attachments/token/BtzZgrcdaankh9t0PH1OiFQ31/?name=README.md\",\"mapped_content_url\":\"https://d3v-zenpydev.zendesk.com/attachments/token/BtzZgrcdaankh9t0PH1OiFQ31/?name=README.md\",\"content_type\":\"application/x-genesis-rom\",\"size\":14338,\"width\":null,\"height\":null,\"inline\":false,\"deleted\":false,\"malware_access_override\":false,\"malware_scan_result\":\"not_scanned\",\"thumbnails\":[]}],\"attachment\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/attachments/13120664634514.json\",\"id\":13120664634514,\"file_name\":\"README.md\",\"content_url\":\"https://d3v-zenpydev.zendesk.com/attachments/token/BtzZgrcdaankh9t0PH1OiFQ31/?name=README.md\",\"mapped_content_url\":\"https://d3v-zenpydev.zendesk.com/attachments/token/BtzZgrcdaankh9t0PH1OiFQ31/?name=README.md\",\"content_type\":\"application/x-genesis-rom\",\"size\":14338,\"width\":null,\"height\":null,\"inline\":false,\"deleted\":false,\"malware_access_override\":false,\"malware_scan_result\":\"not_scanned\",\"thumbnails\":[]}}}"
        },
        "headers": {
          "Content-Type": [
            "text/plain; charset=utf-8"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"a3027b8738cb070be26564c64aa2fbb8\""
          ],
          "location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/attachments/13120664634514.json"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "654"
          ],
          "rate-limit-reset": [
            "28"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "654"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-application-version": [
            "v17988"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-8589bd8f84-n2lfk"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/uploads.json?filename=README.md"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}