{
  "http_interactions": [
    {
      "recorded_at": "2022-08-29T08:08:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"webhook\": {\"id\": \"01GBMAAJZHAR4MRHW3EZE319BY\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic ZXhhbXBsZUBleGFtcGxlLmNvbS90b2tlbjpub3QgcmVhbGx5IGEgdG9rZW4="
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/webhooks/01GBMAAJZHAR4MRHW3EZE319BY"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "x-rate-limit": [
            "100"
          ],
          "x-rate-limit-remaining": [
            "64"
          ],
          "x-zendesk-api-version": [
            "v2"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/webhooks/01GBMAAJZHAR4MRHW3EZE319BY"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}