{
  "http_interactions": [
    {
      "recorded_at": "2023-08-16T14:54:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"user\": {\"id\": \"\", \"name\": \"testUser\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/users.json"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"user\":{\"id\":13120635209106,\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/users/13120635209106.json\",\"name\":\"testUser\",\"email\":null,\"created_at\":\"2023-08-16T14:54:17Z\",\"updated_at\":\"2023-08-16T14:54:17Z\",\"time_zone\":\"Abu Dhabi\",\"iana_time_zone\":\"Asia/Muscat\",\"phone\":null,\"shared_phone_number\":null,\"photo\":null,\"locale_id\":1,\"locale\":\"en-US\",\"organization_id\":null,\"role\":\"end-user\",\"verified\":false,\"external_id\":null,\"tags\":[],\"alias\":null,\"active\":true,\"shared\":false,\"shared_agent\":false,\"last_login_at\":null,\"two_factor_auth_enabled\":false,\"signature\":null,\"details\":null,\"notes\":null,\"role_type\":null,\"custom_role_id\":null,\"moderator\":false,\"ticket_restriction\":\"requested\",\"only_private_comments\":false,\"restricted_agent\":true,\"suspended\":false,\"default_group_id\":null,\"report_csv\":false,\"user_fields\":{\"extension\":null,\"hardness\":null,\"id_old\":null,\"ig_followers\":null,\"ig_username\":null,\"ig_valid\":false,\"ig_verified\":false,\"phone_id\":null,\"system::embeddable_last_seen\":null,\"test\":null,\"test_arabia\":null}}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"9d314a3eb1457c07d4b9831570ccee85\""
          ],
          "location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/users/13120635209106.json"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "688"
          ],
          "rate-limit-reset": [
            "43"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "688"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-application-version": [
            "v17988"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-8589bd8f84-xh9w9"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/users.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}