{
  "http_interactions": [
    {
      "recorded_at": "2020-01-19T03:20:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic ZXhhbXBsZUBleGFtcGxlLmNvbS90b2tlbjpub3QgcmVhbGx5IGEgdG9rZW4="
          ],
          "Content-Type": [
            "application/octet-stream"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/uploads.json?filename=fancybytes.txt"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"upload\":{\"token\":\"ln17tN04nn1zbRESOsC9ZpOPb\",\"expires_at\":\"2020-01-22T03:20:53Z\",\"attachments\":[{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/attachments/372772228171.json\",\"id\":372772228171,\"file_name\":\"fancybytes.txt\",\"content_url\":\"https://d3v-zenpydev.zendesk.com/attachments/token/6r9wdZJAmoZ91FME1hw0OQtpZ/?name=fancybytes.txt\",\"mapped_content_url\":\"https://d3v-zenpydev.zendesk.com/attachments/token/6r9wdZJAmoZ91FME1hw0OQtpZ/?name=fancybytes.txt\",\"content_type\":\"text/plain\",\"size\":1048576,\"width\":null,\"height\":null,\"inline\":false,\"deleted\":false,\"thumbnails\":[]}],\"attachment\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/attachments/372772228171.json\",\"id\":372772228171,\"file_name\":\"fancybytes.txt\",\"content_url\":\"https://d3v-zenpydev.zendesk.com/attachments/token/6r9wdZJAmoZ91FME1hw0OQtpZ/?name=fancybytes.txt\",\"mapped_content_url\":\"https://d3v-zenpydev.zendesk.com/attachments/token/6r9wdZJAmoZ91FME1hw0OQtpZ/?name=fancybytes.txt\",\"content_type\":\"text/plain\",\"size\":1048576,\"width\":null,\"height\":null,\"inline\":false,\"deleted\":false,\"thumbnails\":[]}}}"
        },
        "headers": {
          "Content-Type": [
            "text/plain; charset=UTF-8"
          ],
          "ETag": [
            "W/\"d9745ab24ce1be8c132f6757c85cdbbd\""
          ],
          "Location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/attachments/372772228171.json"
          ],
          "X-Rate-Limit": [
            "700"
          ],
          "X-Rate-Limit-Remaining": [
            "700"
          ],
          "X-Zendesk-API-Version": [
            "v2"
          ],
          "X-Zendesk-Application-Version": [
            "v4051.3"
          ],
          "X-Zendesk-Origin-Server": [
            "classic-app-server-797c9c449c-gvmcn"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/uploads.json?filename=fancybytes.txt"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}