{
  "http_interactions": [
    {
      "recorded_at": "2023-09-18T23:30:19",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/octet-stream"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/uploads.json?filename=README.md"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"upload\":{\"token\":\"A1sDCyGLK9D9FdAHcxjVV6JgN\",\"expires_at\":\"2023-09-21T23:30:19Z\",\"attachments\":[{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/attachments/6164121431066.json\",\"id\":6164121431066,\"file_name\":\"README.md\",\"content_url\":\"https://d3v-zenpydev.zendesk.com/attachments/token/eMIumkOcihT9KpxMBIlv9455b/?name=README.md\",\"mapped_content_url\":\"https://d3v-zenpydev.zendesk.com/attachments/token/eMIumkOcihT9KpxMBIlv9455b/?name=README.md\",\"content_type\":\"application/x-genesis-rom\",\"size\":13762,\"width\":null,\"height\":null,\"inline\":false,\"deleted\":false,\"malware_access_override\":false,\"malware_scan_result\":\"not_scanned\",\"thumbnails\":[]}],\"attachment\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/attachments/6164121431066.json\",\"id\":6164121431066,\"file_name\":\"README.md\",\"content_url\":\"https://d3v-zenpydev.zendesk.com/attachments/token/eMIumkOcihT9KpxMBIlv9455b/?name=README.md\",\"mapped_content_url\":\"https://d3v-zenpydev.zendesk.com/attachments/token/eMIumkOcihT9KpxMBIlv9455b/?name=README.md\",\"content_type\":\"application/x-genesis-rom\",\"size\":13762,\"width\":null,\"height\":null,\"inline\":false,\"deleted\":false,\"malware_access_override\":false,\"malware_scan_result\":\"not_scanned\",\"thumbnails\":[]}}}"
        },
        "headers": {
          "Content-Type": [
            "text/plain; charset=utf-8"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"06f887a28007ac4b8a67c4e21dfb0e86\""
          ],
          "location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/attachments/6164121431066.json"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "662"
          ],
          "rate-limit-reset": [
            "41"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "662"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-application-version": [
            "v18385"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-7bd9f74fd7-t2xzg"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/uploads.json?filename=README.md"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}