{
  "http_interactions": [
    {
      "recorded_at": "2024-11-08T02:11:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"link\": {\"issue_id\": 20858, \"issue_key\": 20858, \"ticket_id\": 20858}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/services/jira/links.json"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"link\":{\"id\":60477709,\"ticket_id\":\"20858\",\"issue_id\":\"20858\",\"issue_key\":\"20858\",\"url\":\"https://d3v-zenpydev.zendesk.com/api/services/jira/links/60477709\",\"created_at\":\"2024-11-08T02:11:00.000Z\",\"updated_at\":\"2024-11-08T02:11:00.000Z\"}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"209e7a41578d37593b4fc9dfc1b524dc\""
          ],
          "status": [
            "201 Created"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/services/jira/links.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}