{
  "http_interactions": [
    {
      "recorded_at": "2018-03-30T06:07:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"macro\": {\"actions\": [{\"field\": \"status\", \"value\": \"solved\"}], \"id\": null, \"title\": \"TestMacro\"}}"
        },
        "headers": {
          "Authorization": "Basic c2luayt6ZW5kZXNrQGZhY2V0b2UuY29tLmF1L3Rva2VuOnBUNXQ2ZEZ4QWltU1hoNEkydjBYeVMwSkNlYVV4eWROQUxFRkV1VWM=",
          "Content-Type": "application/json"
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/macros.json"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"macro\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/macros/360014933332.json\",\"id\":360014933332,\"title\":\"TestMacro\",\"active\":true,\"updated_at\":\"2018-03-30T06:07:00Z\",\"created_at\":\"2018-03-30T06:07:00Z\",\"position\":10013,\"description\":null,\"actions\":[{\"field\":\"status\",\"value\":\"solved\"}],\"restriction\":null}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "ETag": "\"46f964826e439cfef8bde2fad16162d2\"",
          "Location": "https://d3v-zenpydev.zendesk.com/api/v2/macros/360014933332.json",
          "X-Rate-Limit": "700",
          "X-Rate-Limit-Remaining": "699",
          "X-Zendesk-API-Version": "v2",
          "X-Zendesk-API-Warn": "Removed restricted keys [\"macro.id\"] from parameters according to whitelist",
          "X-Zendesk-Application-Version": "v757.19",
          "X-Zendesk-Origin-Server": "app48.pod13.usw2.zdsys.com",
          "X-Zendesk-Request-Id": "c223ac654828c8d9ec80"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/macros.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}