{
  "http_interactions": [
    {
      "recorded_at": "2017-04-23T13:52:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"macro\": {\"title\": \"TestMacro\", \"actions\": [{\"field\": \"status\", \"value\": \"solved\"}]}}"
        },
        "headers": {
          "Authorization": "Basic ZmFjZXRvZUBmYWNldG9lLmNvbS5hdS90b2tlbjpkbWZIVnh6ak90b0ZsVlhJNnMzeFE2YmQ1dXZ1RG5Sb0kydkZWWW85",
          "Content-type": "application/json"
        },
        "method": "POST",
        "uri": "https://facetoe1.zendesk.com/api/v2/macros"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"macro\":{\"url\":\"https://facetoe1.zendesk.com/api/v2/macros/306018807.json\",\"id\":306018807,\"title\":\"TestMacro\",\"active\":true,\"updated_at\":\"2017-04-23T13:52:17Z\",\"created_at\":\"2017-04-23T13:52:17Z\",\"position\":10000,\"description\":null,\"actions\":[{\"field\":\"status\",\"value\":\"solved\"}],\"restriction\":null}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "ETag": "\"6f933ba1b398488aceca189e614e9931\"",
          "Location": "https://facetoe1.zendesk.com/api/v2/macros/306018807.json",
          "X-Rate-Limit": "400",
          "X-Rate-Limit-Remaining": "388",
          "X-Zendesk-API-Version": "v2",
          "X-Zendesk-Application-Version": "v20.24",
          "X-Zendesk-Origin-Server": "app41.pod5.iad1.zdsys.com",
          "X-Zendesk-Request-Id": "eeb1947b39fec894b250"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://facetoe1.zendesk.com/api/v2/macros"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}