{
  "http_interactions": [
    {
      "recorded_at": "2023-08-31T19:03:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"webhook\": {\"authentication\": {\"add_position\": \"header\", \"data\": {\"password\": \"hello_123\", \"username\": \"john_smith\"}, \"type\": \"basic_auth\"}, \"description\": \"Description\", \"endpoint\": \"https://example.com\", \"http_method\": \"GET\", \"id\": null, \"name\": \"Example Webhook X1234\", \"request_format\": \"json\", \"status\": \"active\", \"subscriptions\": [\"conditional_ticket_events\"]}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/webhooks"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"webhook\":{\"id\":\"01H96FNRNDCEGHDNVBNBHZZHZN\",\"name\":\"Example Webhook X1234\",\"description\":\"Description\",\"status\":\"active\",\"subscriptions\":[\"conditional_ticket_events\"],\"created_at\":\"2023-08-31T19:03:45.069190845Z\",\"created_by\":\"6090622867866\",\"endpoint\":\"https://example.com\",\"http_method\":\"GET\",\"request_format\":\"json\",\"authentication\":{\"type\":\"basic_auth\",\"data\":{\"username\":\"john_smith\"},\"add_position\":\"header\"}}}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "x-rate-limit": [
            "100"
          ],
          "x-rate-limit-remaining": [
            "99"
          ],
          "x-zendesk-api-version": [
            "v2"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/webhooks"
      }
    },
    {
      "recorded_at": "2023-08-31T19:03:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/webhooks?clone_webhook_id=01H96FNRNDCEGHDNVBNBHZZHZN"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "[...]
    {
      "recorded_at": "2023-08-31T19:03:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"webhook\": {\"id\": \"01H96FNRTA3E1P1PDVMDA2TJ2F\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/webhooks/01H96FNRTA3E1P1PDVMDA2TJ2F"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "x-rate-limit": [
            "100"
          ],
          "x-rate-limit-remaining": [
            "97"
          ],
          "x-zendesk-api-version": [
            "v2"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/webhooks/01H96FNRTA3E1P1PDVMDA2TJ2F"
      }
    },
    {
      "recorded_at": "2023-08-31T19:03:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"webhook\": {\"id\": \"01H96FNRNDCEGHDNVBNBHZZHZN\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/webhooks/01H96FNRNDCEGHDNVBNBHZZHZN"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "x-rate-limit": [
            "100"
          ],
          "x-rate-limit-remaining": [
            "96"
          ],
          "x-zendesk-api-version": [
            "v2"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/webhooks/01H96FNRNDCEGHDNVBNBHZZHZN"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}