{
  "http_interactions": [
    {
      "recorded_at": "2024-02-08T17:44:09",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"automations\": [{\"id\": 6716727944474}, {\"id\": 6716707348506}, {\"id\": 6716755346202}, {\"id\": 6716738775578}, {\"id\": 6716738776858}]}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/automations/destroy_many.json?ids=6716727944474,6716707348506,6716755346202,6716738775578,6716738776858"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Zendesk-API-Gateway": [
            "yes"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "ratelimit-limit": [
            "700"
          ],
          "ratelimit-remaining": [
            "687"
          ],
          "ratelimit-reset": [
            "51"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "687"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-api-warn": [
            "{:allowed_parameters=>{:controller=>\"automations\", :action=>\"destroy_many\", :unpermitted_keys=>[\"automations\"], :invalid_values=>[]}}"
          ],
          "x-zendesk-application-version": [
            "v19942"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-8464f58555-r7p5d"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/automations/destroy_many.json?ids=6716727944474,6716707348506,6716755346202,6716738775578,6716738776858"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}