{
  "http_interactions": [
    {
      "recorded_at": "2024-02-08T17:44:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"macros\": [{\"id\": 6716770154266}, {\"id\": 6716770155546}, {\"id\": 6716738811930}, {\"id\": 6716755396250}, {\"id\": 6716727969178}]}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/macros/destroy_many.json?ids=6716770154266,6716770155546,6716738811930,6716755396250,6716727969178"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Zendesk-API-Gateway": [
            "yes"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "ratelimit-limit": [
            "700"
          ],
          "ratelimit-remaining": [
            "677"
          ],
          "ratelimit-reset": [
            "49"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "677"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-api-warn": [
            "{:allowed_parameters=>{:controller=>\"macros\", :action=>\"destroy_many\", :unpermitted_keys=>[\"macros\"], :invalid_values=>[]}}"
          ],
          "x-zendesk-application-version": [
            "v19942"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-8464f58555-hf6rr"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/macros/destroy_many.json?ids=6716770154266,6716770155546,6716738811930,6716755396250,6716727969178"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}