{
  "http_interactions": [
    {
      "recorded_at": "2023-08-16T14:54:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"organization_field\": {\"description\": \"test\", \"id\": null, \"key\": \"somethingsomethingsomething\", \"title\": \"i am test\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/organization_fields.json"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"organization_field\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/organization_fields/13120609814802.json\",\"id\":13120609814802,\"type\":\"text\",\"key\":\"somethingsomethingsomething\",\"title\":\"i am test\",\"description\":\"test\",\"raw_title\":\"i am test\",\"raw_description\":\"test\",\"position\":9999,\"active\":true,\"system\":false,\"regexp_for_validation\":null,\"created_at\":\"2023-08-16T14:54:25Z\",\"updated_at\":\"2023-08-16T14:54:25Z\"}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"a54b8c335c183472e19b694d8bdc0918\""
          ],
          "location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/organization_fields/13120609814802.json"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "670"
          ],
          "rate-limit-reset": [
            "35"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "670"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-api-warn": [
            "{:allowed_parameters=>{:controller=>\"organization_fields\", :action=>\"create\", :unpermitted_keys=>[\"organization_field.id\"], :invalid_values=>[]}}"
          ],
          "x-zendesk-application-version": [
            "v17988"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-8589bd8f84-jt6k8"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/organization_fields.json"
      }
    },
    {
      "recorded_at": "2023-08-16T14:54:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"organization_field\": {\"id\": 13120609814802}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/organization_fields/131206098[...]
