{
  "http_interactions": [
    {
      "recorded_at": "2017-04-23T13:52:03",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"group\": {\"name\": \"testGroup\"}}"
        },
        "headers": {
          "Authorization": "Basic ZmFjZXRvZUBmYWNldG9lLmNvbS5hdS90b2tlbjpkbWZIVnh6ak90b0ZsVlhJNnMzeFE2YmQ1dXZ1RG5Sb0kydkZWWW85",
          "Content-type": "application/json"
        },
        "method": "POST",
        "uri": "https://facetoe1.zendesk.com/api/v2/groups.json?&include=users"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"group\":{\"url\":\"https://facetoe1.zendesk.com/api/v2/groups/41807308.json\",\"id\":41807308,\"name\":\"testGroup\",\"deleted\":false,\"created_at\":\"2017-04-23T13:52:11Z\",\"updated_at\":\"2017-04-23T13:52:11Z\",\"user_ids\":[]},\"users\":[]}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "ETag": "\"d467692f8edae867244ed1728977863e\"",
          "Location": "https://facetoe1.zendesk.com/api/v2/groups/41807308.json",
          "X-Rate-Limit": "400",
          "X-Rate-Limit-Remaining": "396",
          "X-Zendesk-API-Version": "v2",
          "X-Zendesk-Application-Version": "v20.24",
          "X-Zendesk-Origin-Server": "app6.pod5.iad1.zdsys.com",
          "X-Zendesk-Request-Id": "7a7ccf784ddb658be8e1"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://facetoe1.zendesk.com/api/v2/groups.json?&include=users"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}