{
  "http_interactions": [
    {
      "recorded_at": "2023-08-16T14:55:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"group\": {\"id\": null, \"name\": \"testGroupNone\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/groups.json"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"group\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/groups/13120657526290.json\",\"id\":13120657526290,\"is_public\":true,\"name\":\"testGroupNone\",\"description\":\"\",\"default\":false,\"deleted\":false,\"created_at\":\"2023-08-16T14:55:52Z\",\"updated_at\":\"2023-08-16T14:55:52Z\"}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"196dd85b7c446b8df7adaa6728cd619e\""
          ],
          "location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/groups/13120657526290.json"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "584"
          ],
          "rate-limit-reset": [
            "8"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "584"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-api-warn": [
            "{:allowed_parameters=>{:controller=>\"groups\", :action=>\"create\", :unpermitted_keys=>[\"group.id\"], :invalid_values=>[]}}"
          ],
          "x-zendesk-application-version": [
            "v17988"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-8589bd8f84-qj64l"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/groups.json"
      }
    },
    {
      "recorded_at": "2023-08-16T14:55:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"group\": {\"id\": 13120657526290}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/groups/13120657526290.json"
      },
     [...]
