{
  "http_interactions": [
    {
      "recorded_at": "2023-08-16T14:59:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"webhook\": {\"authentication\": {\"add_position\": \"header\", \"data\": {\"password\": \"hello_123\", \"username\": \"john_smith\"}, \"type\": \"basic_auth\"}, \"description\": \"Description\", \"endpoint\": \"https://example.com\", \"http_method\": \"GET\", \"id\": null, \"name\": \"Example Webhook X1234\", \"request_format\": \"json\", \"status\": \"active\", \"subscriptions\": [\"conditional_ticket_events\"]}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/webhooks"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"webhook\":{\"id\":\"01H7ZDQ1EWS0FM7FDRWV1VTH3R\",\"name\":\"Example Webhook X1234\",\"description\":\"Description\",\"status\":\"active\",\"subscriptions\":[\"conditional_ticket_events\"],\"created_at\":\"2023-08-16T14:59:06.844189269Z\",\"created_by\":\"1568991111\",\"endpoint\":\"https://example.com\",\"http_method\":\"GET\",\"request_format\":\"json\",\"authentication\":{\"type\":\"basic_auth\",\"data\":{\"username\":\"john_smith\"},\"add_position\":\"header\"}}}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "x-rate-limit": [
            "100"
          ],
          "x-rate-limit-remaining": [
            "95"
          ],
          "x-zendesk-api-version": [
            "v2"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/webhooks"
      }
    },
    {
      "recorded_at": "2023-08-16T14:59:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"webhook\": {\"authentication\": null, \"created_at\": null, \"created_by\": null, \"description\": null, \"endpoint\": \"https://example.com/status/200\", \"external_source\": null, \"http_method\": \"GET\", \"id\": null, \"name\": \"New name\", \"request_format\": \"json\", \"signing_secret\": null, \"status\": \"active\", \"subscriptions\": null, \"updated_at\": null, \"updated_by\": null}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "PUT",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/webhooks/01H7ZDQ1EWS0FM7FDRWV1VTH3R"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "x-rate-limit": [
            "100"
          ],
          "x-rate-limit-remaining": [
            "94"
          ],
          "x-zendesk-api-version": [
            "v2"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/webhooks/01H7ZDQ1EWS0FM7FDRWV1VTH3R"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}