{
  "http_interactions": [
    {
      "recorded_at": "2023-08-31T18:45:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/octet-stream"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/uploads.json?filename=README.md"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"upload\":{\"token\":\"R2nVbKHw8XqrS4zwbzq3OjYJq\",\"expires_at\":\"2023-09-03T18:45:06Z\",\"attachments\":[{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/attachments/6097476176922.json\",\"id\":6097476176922,\"file_name\":\"README.md\",\"content_url\":\"https://d3v-zenpydev.zendesk.com/attachments/token/RKmx0UkUSEAwyxhnmhyS09esx/?name=README.md\",\"mapped_content_url\":\"https://d3v-zenpydev.zendesk.com/attachments/token/RKmx0UkUSEAwyxhnmhyS09esx/?name=README.md\",\"content_type\":\"application/x-genesis-rom\",\"size\":13762,\"width\":null,\"height\":null,\"inline\":false,\"deleted\":false,\"malware_access_override\":false,\"malware_scan_result\":\"not_scanned\",\"thumbnails\":[]}],\"attachment\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/attachments/6097476176922.json\",\"id\":6097476176922,\"file_name\":\"README.md\",\"content_url\":\"https://d3v-zenpydev.zendesk.com/attachments/token/RKmx0UkUSEAwyxhnmhyS09esx/?name=README.md\",\"mapped_content_url\":\"https://d3v-zenpydev.zendesk.com/attachments/token/RKmx0UkUSEAwyxhnmhyS09esx/?name=README.md\",\"content_type\":\"application/x-genesis-rom\",\"size\":13762,\"width\":null,\"height\":null,\"inline\":false,\"deleted\":false,\"malware_access_override\":false,\"malware_scan_result\":\"not_scanned\",\"thumbnails\":[]}}}"
        },
        "headers": {
          "Content-Type": [
            "text/plain; charset=utf-8"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"224cdd0aa4bfbddbcda643f4ebb6f47b\""
          ],
          "location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/attachments/6097476176922.json"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "683"
          ],
          "rate-limit-reset": [
            "54"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "683"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-application-version": [
            "v18239"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-566774b49d-mlmj6"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/uploads.json?filename=README.md"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}