{
  "http_interactions": [
    {
      "recorded_at": "2023-09-18T23:38:04",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"views\": [{\"id\": 6164086524826}, {\"id\": 6164095236250}, {\"id\": 6164095237402}, {\"id\": 6164125598618}, {\"id\": 6164086526234}]}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/views/destroy_many.json?ids=6164086524826,6164095236250,6164095237402,6164125598618,6164086526234"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "681"
          ],
          "rate-limit-reset": [
            "56"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "681"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-api-warn": [
            "{:allowed_parameters=>{:controller=>\"views\", :action=>\"destroy_many\", :unpermitted_keys=>[\"views\"], :invalid_values=>[]}}"
          ],
          "x-zendesk-application-version": [
            "v18385"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-7bd9f74fd7-z44gq"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/views/destroy_many.json?ids=6164086524826,6164095236250,6164095237402,6164125598618,6164086526234"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}