{
  "http_interactions": [
    {
      "recorded_at": "2017-12-08T23:16:55",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"ticket_field\": {\"raw_title\": \"I AM A TEST\", \"created_at\": \"2017-12-08T23:16:53Z\", \"description\": \"I AM A TEST\", \"title\": \"I AM A TEST\", \"url\": \"https://zenpydevhelp.zendesk.com/api/v2/ticket_fields/114102572312.json\", \"visible_in_portal\": false, \"raw_description\": \"I AM A TEST\", \"required\": false, \"updated_at\": \"2017-12-08T23:16:53Z\", \"required_in_portal\": false, \"collapsed_for_agents\": false, \"raw_title_in_portal\": \"I AM A TEST\", \"title_in_portal\": \"I AM A TEST\", \"active\": true, \"position\": 9999, \"removable\": true, \"type\": \"text\", \"id\": 114102572312, \"editable_in_portal\": false}}"
        },
        "headers": {
          "Authorization": "Basic <ZENPY-CREDENTIALS>",
          "Content-Type": "application/json"
        },
        "method": "DELETE",
        "uri": "https://zenpydevhelp.zendesk.com/api/v2/ticket_fields/114102572312.json&include="
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Rate-Limit": "700",
          "X-Rate-Limit-Remaining": "697",
          "X-Zendesk-API-Version": "v2",
          "X-Zendesk-API-Warn": "Removed restricted keys [\"ticket_field.raw_title\", \"ticket_field.created_at\", \"ticket_field.description\", \"ticket_field.title\", \"ticket_field.url\", \"ticket_field.visible_in_portal\", \"ticket_field.raw_description\", \"ticket_field.required\", \"ticket_field.updated_at\", \"ticket_field.required_in_portal\", \"ticket_field.collapsed_for_agents\", \"ticket_field.raw_title_in_portal\", \"ticket_field.title_in_portal\", \"ticket_field.active\", \"ticket_field.position\", \"ticket_field.removable\", \"ticket_field.type\", \"ticket_field.id\", \"ticket_field.editable_in_portal\", \"ticket_field\"] from parameters according to whitelist",
          "X-Zendesk-Application-Version": "v52.15",
          "X-Zendesk-Origin-Server": "app24.pod13.usw2.zdsys.com",
          "X-Zendesk-Request-Id": "34ee31d6a7f38c106be3"
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://zenpydevhelp.zendesk.com/api/v2/ticket_fields/114102572312.json&include="
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}