{
  "http_interactions": [
    {
      "recorded_at": "2023-08-09T10:40:04",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"organization_field\": {\"description\": \"test\", \"id\": null, \"key\": \"somethingsomethingsomething\", \"title\": \"i am test\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/organization_fields.json"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"organization_field\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/organization_fields/12977232473362.json\",\"id\":12977232473362,\"type\":\"text\",\"key\":\"somethingsomethingsomething\",\"title\":\"i am test\",\"description\":\"test\",\"raw_title\":\"i am test\",\"raw_description\":\"test\",\"position\":9999,\"active\":true,\"system\":false,\"regexp_for_validation\":null,\"created_at\":\"2023-08-09T10:40:04Z\",\"updated_at\":\"2023-08-09T10:40:04Z\"}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"bf0d4bd0d8af483d22ffe56f2337ac46\""
          ],
          "location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/organization_fields/12977232473362.json"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "694"
          ],
          "rate-limit-reset": [
            "56"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "694"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-api-warn": [
            "{:allowed_parameters=>{:controller=>\"organization_fields\", :action=>\"create\", :unpermitted_keys=>[\"organization_field.id\"], :invalid_values=>[]}}"
          ],
          "x-zendesk-application-version": [
            "v17926"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-56c6d98d7f-nhm2l"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/organization_fields.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}