{
  "http_interactions": [
    {
      "recorded_at": "2023-08-16T14:54:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"automations\": [{\"id\": 13120625754770}, {\"id\": 13120625768850}, {\"id\": 13120665106962}, {\"id\": 13120619981714}, {\"id\": 13120625809042}]}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/automations/destroy_many.json?ids=13120625754770,13120625768850,13120665106962,13120619981714,13120625809042"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "615"
          ],
          "rate-limit-reset": [
            "15"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "615"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-api-warn": [
            "{:allowed_parameters=>{:controller=>\"automations\", :action=>\"destroy_many\", :unpermitted_keys=>[\"automations\"], :invalid_values=>[]}}"
          ],
          "x-zendesk-application-version": [
            "v17988"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-8589bd8f84-z6t8g"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/automations/destroy_many.json?ids=13120625754770,13120625768850,13120665106962,13120619981714,13120625809042"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}