{
  "http_interactions": [
    {
      "recorded_at": "2017-12-08T23:16:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"ticket_field\": {\"type\": \"text\", \"title\": \"I AM A TEST\"}}"
        },
        "headers": {
          "Authorization": "Basic <ZENPY-CREDENTIALS>",
          "Content-Type": "application/json"
        },
        "method": "POST",
        "uri": "https://zenpydevhelp.zendesk.com/api/v2/ticket_fields.json?&include="
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"ticket_field\":{\"url\":\"https://zenpydevhelp.zendesk.com/api/v2/ticket_fields/114102572312.json\",\"id\":114102572312,\"type\":\"text\",\"title\":\"I AM A TEST\",\"raw_title\":\"I AM A TEST\",\"description\":\"I AM A TEST\",\"raw_description\":\"I AM A TEST\",\"position\":9999,\"active\":true,\"required\":false,\"collapsed_for_agents\":false,\"regexp_for_validation\":null,\"title_in_portal\":\"I AM A TEST\",\"raw_title_in_portal\":\"I AM A TEST\",\"visible_in_portal\":false,\"editable_in_portal\":false,\"required_in_portal\":false,\"tag\":null,\"created_at\":\"2017-12-08T23:16:53Z\",\"updated_at\":\"2017-12-08T23:16:53Z\",\"removable\":true}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "ETag": "\"78cbb8e350e6b6ff303d02bde85e3be6\"",
          "Location": "https://zenpydevhelp.zendesk.com/api/v2/ticket_fields/114102572312.json",
          "X-Rate-Limit": "700",
          "X-Rate-Limit-Remaining": "698",
          "X-Zendesk-API-Version": "v2",
          "X-Zendesk-Application-Version": "v52.15",
          "X-Zendesk-Origin-Server": "app8.pod13.usw2.zdsys.com",
          "X-Zendesk-Request-Id": "265500039f655e924145"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://zenpydevhelp.zendesk.com/api/v2/ticket_fields.json?&include="
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}