{
  "http_interactions": [
    {
      "recorded_at": "2024-02-08T17:44:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"views\": [{\"id\": 6716739374746}, {\"id\": 6716755900058}, {\"id\": 6716728314138}, {\"id\": 6716770731418}, {\"id\": 6716728318234}]}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/views/destroy_many.json?ids=6716739374746,6716755900058,6716728314138,6716770731418,6716728318234"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Zendesk-API-Gateway": [
            "yes"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "ratelimit-limit": [
            "700"
          ],
          "ratelimit-remaining": [
            "586"
          ],
          "ratelimit-reset": [
            "10"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "586"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-api-warn": [
            "{:allowed_parameters=>{:controller=>\"views\", :action=>\"destroy_many\", :unpermitted_keys=>[\"views\"], :invalid_values=>[]}}"
          ],
          "x-zendesk-application-version": [
            "v19942"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-8464f58555-9rjg2"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/views/destroy_many.json?ids=6716739374746,6716755900058,6716728314138,6716770731418,6716728318234"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}