{
  "http_interactions": [
    {
      "recorded_at": "2023-08-31T18:45:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"group\": {\"id\": null, \"name\": \"testGroupNone\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/groups.json"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"group\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/groups/6097521855258.json\",\"id\":6097521855258,\"is_public\":true,\"name\":\"testGroupNone\",\"description\":\"\",\"default\":false,\"deleted\":false,\"created_at\":\"2023-08-31T18:45:49Z\",\"updated_at\":\"2023-08-31T18:45:49Z\"}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"98f12db224210680de5b40913b90d7e8\""
          ],
          "location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/groups/6097521855258.json"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "559"
          ],
          "rate-limit-reset": [
            "11"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "559"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-api-warn": [
            "{:allowed_parameters=>{:controller=>\"groups\", :action=>\"create\", :unpermitted_keys=>[\"group.id\"], :invalid_values=>[]}}"
          ],
          "x-zendesk-application-version": [
            "v18239"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-566774b49d-crwcs"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/groups.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}