{
  "http_interactions": [
    {
      "recorded_at": "2023-08-31T18:45:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"automations\": [{\"id\": 6097521391642}, {\"id\": 6097490322074}, {\"id\": 6097476200090}, {\"id\": 6097514099610}, {\"id\": 6097514101914}]}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/automations/destroy_many.json?ids=6097521391642,6097490322074,6097476200090,6097514099610,6097514101914"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "654"
          ],
          "rate-limit-reset": [
            "46"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "654"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-api-warn": [
            "{:allowed_parameters=>{:controller=>\"automations\", :action=>\"destroy_many\", :unpermitted_keys=>[\"automations\"], :invalid_values=>[]}}"
          ],
          "x-zendesk-application-version": [
            "v18239"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-566774b49d-4nzbs"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/automations/destroy_many.json?ids=6097521391642,6097490322074,6097476200090,6097514099610,6097514101914"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}