{
  "http_interactions": [
    {
      "recorded_at": "2018-03-30T06:17:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"ticket_field\": {\"id\": null, \"title\": \"I AM A TEST\", \"type\": \"text\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic c2luayt6ZW5kZXNrQGZhY2V0b2UuY29tLmF1L3Rva2VuOnBUNXQ2ZEZ4QWltU1hoNEkydjBYeVMwSkNlYVV4eWROQUxFRkV1VWM="
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/ticket_fields.json"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"ticket_field\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/ticket_fields/360003004372.json\",\"id\":360003004372,\"type\":\"text\",\"title\":\"I AM A TEST\",\"raw_title\":\"I AM A TEST\",\"description\":\"I AM A TEST\",\"raw_description\":\"I AM A TEST\",\"position\":9999,\"active\":true,\"required\":false,\"collapsed_for_agents\":false,\"regexp_for_validation\":null,\"title_in_portal\":\"I AM A TEST\",\"raw_title_in_portal\":\"I AM A TEST\",\"visible_in_portal\":false,\"editable_in_portal\":false,\"required_in_portal\":false,\"tag\":null,\"created_at\":\"2018-03-30T06:17:39Z\",\"updated_at\":\"2018-03-30T06:17:39Z\",\"removable\":true,\"agent_description\":null}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "ETag": [
            "\"bc6151b992251497fe331f91cbf64f0c\""
          ],
          "Location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/ticket_fields/360003004372.json"
          ],
          "X-Rate-Limit": [
            "700"
          ],
          "X-Rate-Limit-Remaining": [
            "672"
          ],
          "X-Zendesk-API-Version": [
            "v2"
          ],
          "X-Zendesk-API-Warn": [
            "Removed restricted keys [\"ticket_field.id\"] from parameters according to whitelist"
          ],
          "X-Zendesk-Application-Version": [
            "v757.19"
          ],
          "X-Zendesk-Origin-Server": [
            "app9.pod13.usw2.zdsys.com"
          ],
          "X-Zendesk-Request-Id": [
            "53710998fe3dd4ac0300"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/ticket_fields.json"
      }
    },
    {
      "recorded_at": "2018-03-30T06:17:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"ticket_field\": {\"id\": 360003004372}}"
        },
        "headers": {
          "Authorization": [
            "Basic c2luayt6ZW5kZXNrQGZhY2V0b2UuY29tLmF1L3Rva2VuOnBUNXQ2ZEZ4QWltU1hoNEkydjBYeVMwSkNlYVV4eWROQUxFRkV1VWM="
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri[...]
