{
  "http_interactions": [
    {
      "recorded_at": "2017-10-11T08:31:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"recipient_address\": {\"name\": \"Salesd0edfb6e8c55c8742a83f0f192886e0e15fa0347\", \"forwarding_status\": \"waiting\", \"updated_at\": \"2017-10-11T08:31:39Z\", \"email\": \"help@omniwearshop.com\", \"id\": 114095027171, \"spf_status\": \"failed\", \"created_at\": \"2017-10-11T08:31:39Z\", \"brand_id\": 114094587791}}"
        },
        "headers": {
          "Authorization": "Basic bmljb2xhcy5qYXJlbWVrQHJlY2xhbWFkb3IuZXMvdG9rZW46MEFSUFVzVzlOWmJpZnAza2tiWHZueTU0bVZmdUg3eUdRazFVVkpRMw==",
          "Content-type": "application/json"
        },
        "method": "DELETE",
        "uri": "https://jaremek.zendesk.com/api/v2/recipient_addresses/114095027171.json&include="
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Rate-Limit": "400",
          "X-Rate-Limit-Remaining": "393",
          "X-Zendesk-API-Version": "v2",
          "X-Zendesk-API-Warn": "Removed restricted keys [\"recipient_address.name\", \"recipient_address.forwarding_status\", \"recipient_address.updated_at\", \"recipient_address.email\", \"recipient_address.id\", \"recipient_address.spf_status\", \"recipient_address.created_at\", \"recipient_address.brand_id\", \"recipient_address\"] from parameters according to whitelist",
          "X-Zendesk-Application-Version": "v44.19",
          "X-Zendesk-Origin-Server": "app16.pod13.usw2.zdsys.com",
          "X-Zendesk-Request-Id": "9bae5d8f45a6cb5a9603"
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://jaremek.zendesk.com/api/v2/recipient_addresses/114095027171.json&include="
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}