{
  "http_interactions": [
    {
      "recorded_at": "2023-08-16T14:58:03",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"trigger\": {\"actions\": [{\"field\": \"status\", \"value\": \"open\"}], \"id\": null, \"title\": \"testTriggerNone\", \"all\": [{\"field\": \"status\", \"operator\": \"less_than\", \"value\": \"solved\"}, {\"field\": \"update_type\", \"operator\": \"is\", \"value\": \"Create\"}]}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/triggers.json"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"trigger\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/triggers/13120747696530.json\",\"id\":13120747696530,\"title\":\"testTriggerNone\",\"active\":true,\"updated_at\":\"2023-08-16T14:58:03Z\",\"created_at\":\"2023-08-16T14:58:03Z\",\"default\":false,\"actions\":[{\"field\":\"status\",\"value\":\"open\"}],\"conditions\":{\"all\":[{\"field\":\"status\",\"operator\":\"less_than\",\"value\":\"solved\"},{\"field\":\"update_type\",\"operator\":\"is\",\"value\":\"Create\"}],\"any\":[]},\"description\":null,\"position\":19,\"raw_title\":\"testTriggerNone\",\"category_id\":\"5089772875922\"}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"29caf3e2801634bbd42e714b8265f7df\""
          ],
          "location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/triggers/13120747696530.json"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "686"
          ],
          "rate-limit-reset": [
            "57"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "686"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-api-warn": [
            "{:allowed_parameters=>{:controller=>\"triggers\", :action=>\"create\", :unpermitted_keys=>[\"trigger.id\"], :invalid_values=>[]}}"
          ],
          "x-zendesk-application-version": [
            "v17988"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-8589bd8f84-xtk5p"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/triggers.json"
      }
    },
    {
      "recorded_at": "2023-08-16T14:58:03",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"trigger\": {\"id\": 13120747696530}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/triggers/13120747696530.json"
      },
 [...]
