{
  "http_interactions": [
    {
      "recorded_at": "2023-09-17T04:45:24",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"topic\": {\"id\": 6157897257370}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/community/topics/6157897257370.json"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "692"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-origin-server": [
            "help-center-unicorn-758949c487-t72hz"
          ],
          "x-zendesk-processed-host-header": [
            "d3v-zenpydev.zendesk.com"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/community/topics/6157897257370.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}