{
  "http_interactions": [
    {
      "recorded_at": "2017-04-23T13:52:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"organization\": {\"name\": \"testOrganization\"}}"
        },
        "headers": {
          "Authorization": "Basic ZmFjZXRvZUBmYWNldG9lLmNvbS5hdS90b2tlbjpkbWZIVnh6ak90b0ZsVlhJNnMzeFE2YmQ1dXZ1RG5Sb0kydkZWWW85",
          "Content-type": "application/json"
        },
        "method": "POST",
        "uri": "https://facetoe1.zendesk.com/api/v2/organizations.json?&include=abilities"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"organization\":{\"url\":\"https://facetoe1.zendesk.com/api/v2/organizations/16414988647.json\",\"id\":16414988647,\"name\":\"testOrganization\",\"shared_tickets\":false,\"shared_comments\":false,\"external_id\":null,\"created_at\":\"2017-04-23T13:52:23Z\",\"updated_at\":\"2017-04-23T13:52:23Z\",\"domain_names\":[],\"details\":null,\"notes\":null,\"group_id\":null,\"tags\":[],\"organization_fields\":{},\"abilities\":{\"url\":\"https://facetoe1.zendesk.com/api/v2/organizations/16414988647.json\",\"organization_id\":16414988647,\"can_edit_users\":true,\"can_access_tickets\":true}},\"abilities\":[{\"url\":\"https://facetoe1.zendesk.com/api/v2/organizations/16414988647.json\",\"organization_id\":16414988647,\"can_edit_users\":true,\"can_access_tickets\":true}]}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "ETag": "\"00fefbb2323f5df67ab5558a74d1cf8d\"",
          "Location": "https://facetoe1.zendesk.com/api/v2/organizations/16414988647.json",
          "X-Rate-Limit": "400",
          "X-Rate-Limit-Remaining": "382",
          "X-Zendesk-API-Version": "v2",
          "X-Zendesk-Application-Version": "v20.24",
          "X-Zendesk-Origin-Server": "app30.pod5.iad1.zdsys.com",
          "X-Zendesk-Request-Id": "da2488285387ef7add2a"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://facetoe1.zendesk.com/api/v2/organizations.json?&include=abilities"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}