{
  "http_interactions": [
    {
      "recorded_at": "2018-04-25T14:55:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"organization\": {\"id\": null, \"name\": \"testOrganizationNone\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic c2luayt6ZW5kZXNrQGZhY2V0b2UuY29tLmF1L3Rva2VuOnZTRlRhTTdTcklBUDUycjNGZGt2WG9XRU15R25yT1RoUlZzbnpvSG8="
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/organizations.json"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"organization\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/organizations/360052910671.json\",\"id\":360052910671,\"name\":\"testOrganizationNone\",\"shared_tickets\":false,\"shared_comments\":false,\"external_id\":null,\"created_at\":\"2018-04-25T14:55:05Z\",\"updated_at\":\"2018-04-25T14:55:05Z\",\"domain_names\":[],\"details\":null,\"notes\":null,\"group_id\":null,\"tags\":[],\"organization_fields\":{\"testfields\":null}}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "ETag": [
            "\"c71ba872d37ec41f4993c4ac0005bda4\""
          ],
          "Location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/organizations/360052910671.json"
          ],
          "X-Rate-Limit": [
            "700"
          ],
          "X-Rate-Limit-Remaining": [
            "699"
          ],
          "X-Zendesk-API-Version": [
            "v2"
          ],
          "X-Zendesk-API-Warn": [
            "Removed restricted keys [\"organization.id\"] from parameters according to whitelist"
          ],
          "X-Zendesk-Application-Version": [
            "v1010.44"
          ],
          "X-Zendesk-Origin-Server": [
            "app12.pod13.usw2.zdsys.com"
          ],
          "X-Zendesk-Request-Id": [
            "322fb51f23fddfbb66e1"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/organizations.json"
      }
    },
    {
      "recorded_at": "2018-04-25T14:55:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"organization\": {\"id\": 360052910671}}"
        },
        "headers": {
          "Authorization": [
            "Basic c2luayt6ZW5kZXNrQGZhY2V0b2UuY29tLmF1L3Rva2VuOnZTRlRhTTdTcklBUDUycjNGZGt2WG9XRU15R25yT1RoUlZzbnpvSG8="
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri[...]
