{
  "http_interactions": [
    {
      "recorded_at": "2017-04-22T17:02:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"macro\": {\"title\": \"TestMacro\", \"actions\": [{\"field\": \"status\", \"value\": \"solved\"}]}}"
        },
        "headers": {
          "Authorization": "Basic ZmFjZXRvZUBmYWNldG9lLmNvbS5hdS90b2tlbjpkbWZIVnh6ak90b0ZsVlhJNnMzeFE2YmQ1dXZ1RG5Sb0kydkZWWW85",
          "Content-type": "application/json"
        },
        "method": "POST",
        "uri": "https://facetoe1.zendesk.com/api/v2/macros"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"macro\":{\"url\":\"https://facetoe1.zendesk.com/api/v2/macros/305880347.json\",\"id\":305880347,\"title\":\"TestMacro\",\"active\":true,\"updated_at\":\"2017-04-22T17:02:29Z\",\"created_at\":\"2017-04-22T17:02:29Z\",\"position\":10000,\"description\":null,\"actions\":[{\"field\":\"status\",\"value\":\"solved\"}],\"restriction\":null}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "ETag": "\"7dd33e6cd03f7f19a457ed4591a5d99a\"",
          "Location": "https://facetoe1.zendesk.com/api/v2/macros/305880347.json",
          "X-Rate-Limit": "400",
          "X-Rate-Limit-Remaining": "398",
          "X-Zendesk-API-Version": "v2",
          "X-Zendesk-Application-Version": "v20.24",
          "X-Zendesk-Origin-Server": "app50.pod5.iad1.zdsys.com",
          "X-Zendesk-Request-Id": "fe83df8d02b2461841b9"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://facetoe1.zendesk.com/api/v2/macros"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}