{
  "http_interactions": [
    {
      "recorded_at": "2023-08-09T10:39:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"category\": {\"id\": 12977263150354}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/help_center/categories/12977263150354.json"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "Protocol": [
            "HTTP/1.1 always"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "699"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-origin-server": [
            "help-center-unicorn-68b9d598d8-hppxl"
          ],
          "x-zendesk-processed-host-header": [
            "d3v-ontec.zendesk.com"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/help_center/categories/12977263150354.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}