{
  "http_interactions": [
    {
      "recorded_at": "2023-08-16T14:54:31",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/octet-stream"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/uploads.json?filename=fancybytes.txt"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"upload\":{\"token\":\"y6SDuAiKf05CjciJkmtm5ADQH\",\"expires_at\":\"2023-08-19T14:54:31Z\",\"attachments\":[{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/attachments/13120610139410.json\",\"id\":13120610139410,\"file_name\":\"fancybytes.txt\",\"content_url\":\"https://d3v-zenpydev.zendesk.com/attachments/token/viiOwKJTThOypLSXv0ZEsby3V/?name=fancybytes.txt\",\"mapped_content_url\":\"https://d3v-zenpydev.zendesk.com/attachments/token/viiOwKJTThOypLSXv0ZEsby3V/?name=fancybytes.txt\",\"content_type\":\"text/plain\",\"size\":1048576,\"width\":null,\"height\":null,\"inline\":false,\"deleted\":false,\"malware_access_override\":false,\"malware_scan_result\":\"not_scanned\",\"thumbnails\":[]}],\"attachment\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/attachments/13120610139410.json\",\"id\":13120610139410,\"file_name\":\"fancybytes.txt\",\"content_url\":\"https://d3v-zenpydev.zendesk.com/attachments/token/viiOwKJTThOypLSXv0ZEsby3V/?name=fancybytes.txt\",\"mapped_content_url\":\"https://d3v-zenpydev.zendesk.com/attachments/token/viiOwKJTThOypLSXv0ZEsby3V/?name=fancybytes.txt\",\"content_type\":\"text/plain\",\"size\":1048576,\"width\":null,\"height\":null,\"inline\":false,\"deleted\":false,\"malware_access_override\":false,\"malware_scan_result\":\"not_scanned\",\"thumbnails\":[]}}}"
        },
        "headers": {
          "Content-Type": [
            "text/plain; charset=utf-8"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"604e0d150059d1aa7d4f5987694b06f4\""
          ],
          "location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/attachments/13120610139410.json"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "655"
          ],
          "rate-limit-reset": [
            "29"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "655"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-application-version": [
            "v17988"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-8589bd8f84-wccq5"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/uploads.json?filename=fancybytes.txt"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}