{
  "http_interactions": [
    {
      "recorded_at": "2018-03-30T07:37:10",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"recipient_address\": {\"id\": 360000567671}}"
        },
        "headers": {
          "Authorization": "Basic c2luayt6ZW5kZXNrQGZhY2V0b2UuY29tLmF1L3Rva2VuOnBUNXQ2ZEZ4QWltU1hoNEkydjBYeVMwSkNlYVV4eWROQUxFRkV1VWM=",
          "Content-Type": "application/json"
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/recipient_addresses/360000567671.json"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Rate-Limit": "700",
          "X-Rate-Limit-Remaining": "685",
          "X-Zendesk-API-Version": "v2",
          "X-Zendesk-API-Warn": "Removed restricted keys [\"recipient_address.id\", \"recipient_address\"] from parameters according to whitelist",
          "X-Zendesk-Application-Version": "v757.19",
          "X-Zendesk-Origin-Server": "app3.pod13.usw2.zdsys.com",
          "X-Zendesk-Request-Id": "212e5a7c6e87dd5f5005"
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/recipient_addresses/360000567671.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}