{
  "http_interactions": [
    {
      "recorded_at": "2023-08-31T18:45:20",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"macros\": [{\"id\": 6097502091802}, {\"id\": 6097521440666}, {\"id\": 6097514151578}, {\"id\": 6097506700570}, {\"id\": 6097490379674}]}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/macros/destroy_many.json?ids=6097502091802,6097521440666,6097514151578,6097506700570,6097490379674"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "628"
          ],
          "rate-limit-reset": [
            "40"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "628"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-api-warn": [
            "{:allowed_parameters=>{:controller=>\"macros\", :action=>\"destroy_many\", :unpermitted_keys=>[\"macros\"], :invalid_values=>[]}}"
          ],
          "x-zendesk-application-version": [
            "v18239"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-566774b49d-7x4qh"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/macros/destroy_many.json?ids=6097502091802,6097521440666,6097514151578,6097506700570,6097490379674"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}