{
  "http_interactions": [
    {
      "recorded_at": "2018-03-30T07:42:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"ticket_field\": {\"id\": null, \"title\": \"I AM A TEST\", \"type\": \"text\"}}"
        },
        "headers": {
          "Authorization": "Basic c2luayt6ZW5kZXNrQGZhY2V0b2UuY29tLmF1L3Rva2VuOnBUNXQ2ZEZ4QWltU1hoNEkydjBYeVMwSkNlYVV4eWROQUxFRkV1VWM=",
          "Content-Type": "application/json"
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/ticket_fields.json"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"ticket_field\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/ticket_fields/360003036071.json\",\"id\":360003036071,\"type\":\"text\",\"title\":\"I AM A TEST\",\"raw_title\":\"I AM A TEST\",\"description\":\"I AM A TEST\",\"raw_description\":\"I AM A TEST\",\"position\":9999,\"active\":true,\"required\":false,\"collapsed_for_agents\":false,\"regexp_for_validation\":null,\"title_in_portal\":\"I AM A TEST\",\"raw_title_in_portal\":\"I AM A TEST\",\"visible_in_portal\":false,\"editable_in_portal\":false,\"required_in_portal\":false,\"tag\":null,\"created_at\":\"2018-03-30T07:42:07Z\",\"updated_at\":\"2018-03-30T07:42:07Z\",\"removable\":true,\"agent_description\":null}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "ETag": "\"c3e6b5213e4f4be983e76d72c041185e\"",
          "Location": "https://d3v-zenpydev.zendesk.com/api/v2/ticket_fields/360003036071.json",
          "X-Rate-Limit": "700",
          "X-Rate-Limit-Remaining": "690",
          "X-Zendesk-API-Version": "v2",
          "X-Zendesk-API-Warn": "Removed restricted keys [\"ticket_field.id\"] from parameters according to whitelist",
          "X-Zendesk-Application-Version": "v757.19",
          "X-Zendesk-Origin-Server": "app39.pod13.usw2.zdsys.com",
          "X-Zendesk-Request-Id": "69fc971eb0849b5f57e4"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/ticket_fields.json"
      }
    },
    {
      "recorded_at": "2018-03-30T07:42:09",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"ticket_field\": {\"id\": 360003036071}}"
        },
        "headers": {
          "Authorization": "Basic c2luayt6ZW5kZXNrQGZhY2V0b2UuY29tLmF1L3Rva2VuOnBUNXQ2ZEZ4QWltU1hoNEkydjBYeVMwSkNlYVV4eWROQUxFRkV1VWM=",
          "Content-Type": "application/json"
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/ticket_fields/360003036071.json"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Rate-Limit": "700",
          "X-Rate-Limit-Remaining": "689",
          "X-Zendesk-API-Version": "v2",
          "X-Zendesk-API-Warn": "Removed restricted keys [\"ticket_field.id\", \"ticket_field\"] from parameters according to whitelist",
          "X-Zendesk-Application-Version": "v757.19",
          "X-Zendesk-Origin-Server": "app9.pod13.usw2.zdsys.com",
          "X-Zendesk-Request-Id": "8ec2ac990f305c533e1e"
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/ticket_fields/360003036071.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}