{
  "http_interactions": [
    {
      "recorded_at": "2018-08-05T02:58:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"ticket\": {\"id\": 6793}}"
        },
        "headers": {
          "Authorization": [
            "Basic c2luayt6ZW5kZXNrQGZhY2V0b2UuY29tLmF1L3Rva2VuOnZZaWRJVlJiVUdsekRqRVVUNjNVeURWTmt3MGVPSHIxRFptRE5pNnM="
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/tickets/6793.json"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Rate-Limit": [
            "700"
          ],
          "X-Rate-Limit-Remaining": [
            "698"
          ],
          "X-Zendesk-API-Version": [
            "v2"
          ],
          "X-Zendesk-API-Warn": [
            "Removed restricted keys [\"ticket.id\", \"ticket\"] from parameters according to whitelist"
          ],
          "X-Zendesk-Application-Version": [
            "v1989.15"
          ],
          "X-Zendesk-Origin-Server": [
            "app21.pod13.usw2.zdsys.com"
          ],
          "X-Zendesk-Request-Id": [
            "ec1f0549673cfde8c13c"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/tickets/6793.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}