{
  "http_interactions": [
    {
      "recorded_at": "2023-08-31T18:47:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"trigger\": {\"actions\": [{\"field\": \"status\", \"value\": \"open\"}], \"id\": null, \"title\": \"testTriggerNone\", \"all\": [{\"field\": \"status\", \"operator\": \"less_than\", \"value\": \"solved\"}, {\"field\": \"update_type\", \"operator\": \"is\", \"value\": \"Create\"}]}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/triggers.json"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"trigger\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/triggers/6097515922970.json\",\"id\":6097515922970,\"title\":\"testTriggerNone\",\"active\":true,\"updated_at\":\"2023-08-31T18:47:59Z\",\"created_at\":\"2023-08-31T18:47:59Z\",\"default\":false,\"actions\":[{\"field\":\"status\",\"value\":\"open\"}],\"conditions\":{\"all\":[{\"field\":\"status\",\"operator\":\"less_than\",\"value\":\"solved\"},{\"field\":\"update_type\",\"operator\":\"is\",\"value\":\"Create\"}],\"any\":[]},\"description\":null,\"position\":1,\"raw_title\":\"testTriggerNone\",\"category_id\":\"6090590393498\"}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"5338c338e686bf7f8603b4890e65107b\""
          ],
          "location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/triggers/6097515922970.json"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "699"
          ],
          "rate-limit-reset": [
            "1"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "699"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-api-warn": [
            "{:allowed_parameters=>{:controller=>\"triggers\", :action=>\"create\", :unpermitted_keys=>[\"trigger.id\"], :invalid_values=>[]}}"
          ],
          "x-zendesk-application-version": [
            "v18239"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-566774b49d-bj5nq"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/triggers.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}