{
  "http_interactions": [
    {
      "recorded_at": "2023-08-31T18:45:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"automation\": {\"actions\": [{\"field\": \"status\", \"value\": \"open\"}], \"id\": null, \"title\": \"testAutomationNone\", \"all\": [{\"field\": \"status\", \"operator\": \"is\", \"value\": \"pending\"}, {\"field\": \"PENDING\", \"operator\": \"greater_than\", \"value\": \"24\"}]}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/automations.json"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"automation\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/automations/6097502078362.json\",\"id\":6097502078362,\"title\":\"testAutomationNone\",\"active\":true,\"updated_at\":\"2023-08-31T18:45:15Z\",\"created_at\":\"2023-08-31T18:45:15Z\",\"default\":false,\"actions\":[{\"field\":\"status\",\"value\":\"open\"}],\"conditions\":{\"all\":[{\"field\":\"status\",\"operator\":\"is\",\"value\":\"pending\"},{\"field\":\"PENDING\",\"operator\":\"greater_than\",\"value\":\"24\"}],\"any\":[]},\"position\":10000,\"raw_title\":\"testAutomationNone\"}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"568a0294a31f4e6b560e6ce012c0e986\""
          ],
          "location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/automations/6097502078362.json"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "650"
          ],
          "rate-limit-reset": [
            "45"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "650"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-api-warn": [
            "{:allowed_parameters=>{:controller=>\"automations\", :action=>\"create\", :unpermitted_keys=>[\"automation.id\"], :invalid_values=>[]}}"
          ],
          "x-zendesk-application-version": [
            "v18229"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-574f8cd7c6-plpzp"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/automations.json"
      }
    },
    {
      "recorded_at": "2023-08-31T18:45:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"automation\": {\"id\": 6097502078362}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/automations/6097502078362.json"
      [...]
