{
  "http_interactions": [
    {
      "recorded_at": "2023-09-18T23:34:33",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"macro\": {\"actions\": [{\"field\": \"status\", \"value\": \"solved\"}], \"title\": \"TestMacro\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/macros.json"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"macro\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/macros/6164110315034.json\",\"id\":6164110315034,\"title\":\"TestMacro\",\"active\":true,\"updated_at\":\"2023-09-18T23:34:33Z\",\"created_at\":\"2023-09-18T23:34:33Z\",\"default\":false,\"position\":10000,\"description\":null,\"actions\":[{\"field\":\"status\",\"value\":\"solved\"}],\"restriction\":null,\"raw_title\":\"TestMacro\"}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"e417e4c07b0ed13ebee3e89a377d096e\""
          ],
          "location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/macros/6164110315034.json"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "569"
          ],
          "rate-limit-reset": [
            "27"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "569"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-application-version": [
            "v18385"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-7bd9f74fd7-8kkvk"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/macros.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}