{
  "http_interactions": [
    {
      "recorded_at": "2018-03-30T07:42:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"ticket_field\": {\"id\": 360003006012}}"
        },
        "headers": {
          "Authorization": "Basic c2luayt6ZW5kZXNrQGZhY2V0b2UuY29tLmF1L3Rva2VuOnBUNXQ2ZEZ4QWltU1hoNEkydjBYeVMwSkNlYVV4eWROQUxFRkV1VWM=",
          "Content-Type": "application/json"
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/ticket_fields/360003006012.json"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Rate-Limit": "700",
          "X-Rate-Limit-Remaining": "686",
          "X-Zendesk-API-Version": "v2",
          "X-Zendesk-API-Warn": "Removed restricted keys [\"ticket_field.id\", \"ticket_field\"] from parameters according to whitelist",
          "X-Zendesk-Application-Version": "v757.19",
          "X-Zendesk-Origin-Server": "app42.pod13.usw2.zdsys.com",
          "X-Zendesk-Request-Id": "ce1c06a3e11f81e781f2"
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/ticket_fields/360003006012.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}