{
  "http_interactions": [
    {
      "recorded_at": "2023-09-18T23:37:22",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"trigger\": {\"actions\": [{\"field\": \"status\", \"value\": \"open\"}], \"title\": \"testTriggerNone\", \"all\": [{\"field\": \"status\", \"operator\": \"less_than\", \"value\": \"solved\"}, {\"field\": \"update_type\", \"operator\": \"is\", \"value\": \"Create\"}]}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/triggers.json"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"trigger\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/triggers/6164111062810.json\",\"id\":6164111062810,\"title\":\"testTriggerNone\",\"active\":true,\"updated_at\":\"2023-09-18T23:37:22Z\",\"created_at\":\"2023-09-18T23:37:22Z\",\"default\":false,\"actions\":[{\"field\":\"status\",\"value\":\"open\"}],\"conditions\":{\"all\":[{\"field\":\"status\",\"operator\":\"less_than\",\"value\":\"solved\"},{\"field\":\"update_type\",\"operator\":\"is\",\"value\":\"Create\"}],\"any\":[]},\"description\":null,\"position\":2,\"raw_title\":\"testTriggerNone\",\"category_id\":\"6130869158682\"}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"a9fd0a208aefb19b8122e71bf7851e38\""
          ],
          "location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/triggers/6164111062810.json"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "629"
          ],
          "rate-limit-reset": [
            "38"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "629"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-application-version": [
            "v18385"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-7bd9f74fd7-58t7s"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/triggers.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}