{
  "http_interactions": [
    {
      "recorded_at": "2023-08-16T14:46:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"category\": {\"description\": \"this is a test\", \"id\": null, \"name\": \"test\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/help_center/categories.json"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"category\":{\"id\":13120455700882,\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/help_center/ru/categories/13120455700882.json\",\"html_url\":\"https://d3v-zenpydev.zendesk.com/hc/ru/categories/13120455700882-test\",\"position\":0,\"created_at\":\"2023-08-16T14:46:14Z\",\"updated_at\":\"2023-08-16T14:46:14Z\",\"name\":\"test\",\"description\":\"this is a test\",\"locale\":\"ru\",\"source_locale\":\"ru\",\"outdated\":false}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Protocol": [
            "HTTP/1.1 always"
          ],
          "etag": [
            "W/\"abffa4cba0ed5e78154948d54696223d\""
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "698"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-origin-server": [
            "help-center-unicorn-795c55dbfb-9wg6j"
          ],
          "x-zendesk-processed-host-header": [
            "d3v-ontec.zendesk.com"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/help_center/categories.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}