{
  "http_interactions": [
    {
      "recorded_at": "2023-08-16T14:54:27",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"ticket_field\": {\"id\": null, \"title\": \"I AM A TEST\", \"type\": \"text\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/ticket_fields.json"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"ticket_field\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/ticket_fields/13120651140754.json\",\"id\":13120651140754,\"type\":\"text\",\"title\":\"I AM A TEST\",\"raw_title\":\"I AM A TEST\",\"description\":\"I AM A TEST\",\"raw_description\":\"I AM A TEST\",\"position\":9999,\"active\":true,\"required\":false,\"collapsed_for_agents\":false,\"regexp_for_validation\":null,\"title_in_portal\":\"I AM A TEST\",\"raw_title_in_portal\":\"I AM A TEST\",\"visible_in_portal\":false,\"editable_in_portal\":false,\"required_in_portal\":false,\"tag\":null,\"created_at\":\"2023-08-16T14:54:28Z\",\"updated_at\":\"2023-08-16T14:54:28Z\",\"removable\":true,\"key\":null,\"agent_description\":null}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"b1d68e463688381307e2adaf9756c4a2\""
          ],
          "location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/ticket_fields/13120651140754.json"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "663"
          ],
          "rate-limit-reset": [
            "32"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "663"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-api-warn": [
            "{:allowed_parameters=>{:controller=>\"ticket_fields\", :action=>\"create\", :unpermitted_keys=>[\"ticket_field.id\"], :invalid_values=>[]}}"
          ],
          "x-zendesk-application-version": [
            "v17988"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-8589bd8f84-sn24z"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/ticket_fields.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}