{
  "http_interactions": [
    {
      "recorded_at": "2017-11-07T04:02:20",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"category\": {\"created_at\": \"2017-11-07T04:02:19Z\", \"description\": \"this is a testfa26be19de6bff93f70bc2308434e4a440bbad02\", \"html_url\": \"https://zenpydevhelp.zendesk.com/hc/en-us/categories/115000317032-test\", \"id\": 115000317032, \"locale\": \"en-us\", \"name\": \"testa94a8fe5ccb19ba61c4c0873d391e987982fbbd3\", \"outdated\": false, \"position\": 0, \"source_locale\": \"en-us\", \"updated_at\": \"2017-11-07T04:02:19Z\", \"url\": \"https://zenpydevhelp.zendesk.com/api/v2/help_center/en-us/categories/115000317032-test.json\"}}"
        },
        "headers": {
          "Authorization": "Basic c2luayt6ZW5kZXNrQGZhY2V0b2UuY29tLmF1L3Rva2VuOklpeWNRd3I2ZUtUc1p3MVhmR1JLSXM0b1k2c0M4d2w5bmdRbjBNeEU=",
          "Content-Type": "application/json"
        },
        "method": "DELETE",
        "uri": "https://zenpydevhelp.zendesk.com/api/v2/help_center/categories/115000317032.json&include="
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "Status": "204 No Content",
          "X-Zendesk-API-Version": "v2",
          "X-Zendesk-Origin-Server": "hcapp22.pod13.usw2.zdsys.com",
          "X-Zendesk-User-Id": ""
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://zenpydevhelp.zendesk.com/api/v2/help_center/categories/115000317032.json&include="
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}