{
  "http_interactions": [
    {
      "recorded_at": "2023-08-31T18:36:29",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"category\": {\"description\": \"this is a test\", \"id\": null, \"name\": \"test\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/help_center/categories.json"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"category\":{\"id\":6097459285786,\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/help_center/en-us/categories/6097459285786.json\",\"html_url\":\"https://d3v-zenpydev.zendesk.com/hc/en-us/categories/6097459285786-test\",\"position\":0,\"created_at\":\"2023-08-31T18:36:29Z\",\"updated_at\":\"2023-08-31T18:36:29Z\",\"name\":\"test\",\"description\":\"this is a test\",\"locale\":\"en-us\",\"source_locale\":\"en-us\",\"outdated\":false}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Protocol": [
            "HTTP/1.1 always"
          ],
          "etag": [
            "W/\"75eb7179631e9d2e4a4ef92b423972e2\""
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "696"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-origin-server": [
            "help-center-unicorn-7875647968-657ql"
          ],
          "x-zendesk-processed-host-header": [
            "z3n-cph4-bughunt.zendesk.com"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/help_center/categories.json"
      }
    },
    {
      "recorded_at": "2023-08-31T18:36:29",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"category\": {\"id\": 6097459285786}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/help_center/categories/6097459285786.json"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "Protocol": [
            "HTTP/1.1 always"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "695"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-origin-server": [
            "help-center-unicorn-7875647968-rscvt"
          ],
          "x-zendesk-processed-host-header": [
            "z3n-cph4-bughunt.zendesk.com"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/help_center/categories/6097459285786.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}