{
  "http_interactions": [
    {
      "recorded_at": "2023-08-31T18:45:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/octet-stream"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/uploads.json?filename=README.md"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"upload\":{\"token\":\"qwNqSihXoXc3nyIdMlwLXubP3\",\"expires_at\":\"2023-09-03T18:45:06Z\",\"attachments\":[{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/attachments/6097490305690.json\",\"id\":6097490305690,\"file_name\":\"README.md\",\"content_url\":\"https://d3v-zenpydev.zendesk.com/attachments/token/ucCcXhdlLljG4w1MJrnIZBVvn/?name=README.md\",\"mapped_content_url\":\"https://d3v-zenpydev.zendesk.com/attachments/token/ucCcXhdlLljG4w1MJrnIZBVvn/?name=README.md\",\"content_type\":\"application/x-genesis-rom\",\"size\":13762,\"width\":null,\"height\":null,\"inline\":false,\"deleted\":false,\"malware_access_override\":false,\"malware_scan_result\":\"not_scanned\",\"thumbnails\":[]}],\"attachment\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/attachments/6097490305690.json\",\"id\":6097490305690,\"file_name\":\"README.md\",\"content_url\":\"https://d3v-zenpydev.zendesk.com/attachments/token/ucCcXhdlLljG4w1MJrnIZBVvn/?name=README.md\",\"mapped_content_url\":\"https://d3v-zenpydev.zendesk.com/attachments/token/ucCcXhdlLljG4w1MJrnIZBVvn/?name=README.md\",\"content_type\":\"application/x-genesis-rom\",\"size\":13762,\"width\":null,\"height\":null,\"inline\":false,\"deleted\":false,\"malware_access_override\":false,\"malware_scan_result\":\"not_scanned\",\"thumbnails\":[]}}}"
        },
        "headers": {
          "Content-Type": [
            "text/plain; charset=utf-8"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"174b64fe95238e8b3673b4119dae70b3\""
          ],
          "location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/attachments/6097490305690.json"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "682"
          ],
          "rate-limit-reset": [
            "54"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "682"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-application-version": [
            "v18229"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-574f8cd7c6-7gskk"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/uploads.json?filename=README.md"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}