{
  "http_interactions": [
    {
      "recorded_at": "2017-04-22T10:52:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"sharing_agreement\": {\"remote_subdomain\": \"facetoe@facetoe.com.au\"}}"
        },
        "headers": {
          "Authorization": "Basic ZmFjZXRvZUBmYWNldG9lLmNvbS5hdS90b2tlbjpkbWZIVnh6ak90b0ZsVlhJNnMzeFE2YmQ1dXZ1RG5Sb0kydkZWWW85",
          "Content-type": "application/json"
        },
        "method": "POST",
        "uri": "https://facetoe1.zendesk.com/api/v2/sharing_agreements.json?&include="
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"error\":\"RecordInvalid\",\"description\":\"Record validation errors\",\"details\":{\"Subdomain: \":[{\"description\":\"Subdomain: Does not exist\"}]}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Rate-Limit": "400",
          "X-Rate-Limit-Remaining": "399",
          "X-Zendesk-API-Version": "v2",
          "X-Zendesk-Application-Version": "v20.24",
          "X-Zendesk-Origin-Server": "app7.pod5.iad1.zdsys.com",
          "X-Zendesk-Request-Id": "7fabf2d7c9add5e45ad2"
        },
        "status": {
          "code": 422,
          "message": "Unprocessable Entity"
        },
        "url": "https://facetoe1.zendesk.com/api/v2/sharing_agreements.json?&include="
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}