{
  "http_interactions": [
    {
      "recorded_at": "2023-08-16T14:57:38",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"organization\": {\"id\": null, \"name\": \"testOrganizationNone\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/organizations.json"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"organization\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/organizations/13120703188882.json\",\"id\":13120703188882,\"name\":\"testOrganizationNone\",\"shared_tickets\":false,\"shared_comments\":false,\"external_id\":null,\"created_at\":\"2023-08-16T14:57:38Z\",\"updated_at\":\"2023-08-16T14:57:38Z\",\"domain_names\":[],\"details\":null,\"notes\":null,\"group_id\":null,\"tags\":[],\"organization_fields\":{\"inn\":null,\"manager\":null,\"number_test\":null,\"test\":null,\"test_dropdown\":null}}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"e4d0c38f7fa6e2cc0f990be1e06395dd\""
          ],
          "location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/organizations/13120703188882.json"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "668"
          ],
          "rate-limit-reset": [
            "22"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "668"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-api-warn": [
            "{:allowed_parameters=>{:controller=>\"organizations\", :action=>\"create\", :unpermitted_keys=>[\"organization.id\"], :invalid_values=>[]}}"
          ],
          "x-zendesk-application-version": [
            "v17988"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-8589bd8f84-jqwvb"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/organizations.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}