{
  "http_interactions": [
    {
      "recorded_at": "2023-08-09T10:50:07",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"macro\": {\"actions\": [{\"field\": \"status\", \"value\": \"solved\"}], \"id\": null, \"title\": \"TestMacro\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/macros.json"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"macro\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/macros/12977433658898.json\",\"id\":12977433658898,\"title\":\"TestMacro\",\"active\":true,\"updated_at\":\"2023-08-09T10:50:08Z\",\"created_at\":\"2023-08-09T10:50:08Z\",\"default\":false,\"position\":55,\"description\":null,\"actions\":[{\"field\":\"status\",\"value\":\"solved\"}],\"restriction\":null,\"raw_title\":\"TestMacro\"}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"70047e4e2c6b16881b23dff7d2d756eb\""
          ],
          "location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/macros/12977433658898.json"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "670"
          ],
          "rate-limit-reset": [
            "52"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "670"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-api-warn": [
            "{:allowed_parameters=>{:controller=>\"macros\", :action=>\"create\", :unpermitted_keys=>[\"macro.id\"], :invalid_values=>[]}}"
          ],
          "x-zendesk-application-version": [
            "v17926"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-56c6d98d7f-68hm4"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/macros.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}