{
  "http_interactions": [
    {
      "recorded_at": "2018-03-30T07:36:56",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"group\": {\"id\": null, \"name\": \"testGroup\"}}"
        },
        "headers": {
          "Authorization": "Basic c2luayt6ZW5kZXNrQGZhY2V0b2UuY29tLmF1L3Rva2VuOnBUNXQ2ZEZ4QWltU1hoNEkydjBYeVMwSkNlYVV4eWROQUxFRkV1VWM=",
          "Content-Type": "application/json"
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/groups.json"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"group\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/groups/360000657632.json\",\"id\":360000657632,\"name\":\"testGroup\",\"deleted\":false,\"created_at\":\"2018-03-30T07:36:56Z\",\"updated_at\":\"2018-03-30T07:36:56Z\"}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "ETag": "\"ecdd0fe510910860350b16d366c558c7\"",
          "Location": "https://d3v-zenpydev.zendesk.com/api/v2/groups/360000657632.json",
          "X-Rate-Limit": "700",
          "X-Rate-Limit-Remaining": "695",
          "X-Zendesk-API-Version": "v2",
          "X-Zendesk-API-Warn": "Removed restricted keys [\"group.id\"] from parameters according to whitelist",
          "X-Zendesk-Application-Version": "v757.19",
          "X-Zendesk-Origin-Server": "app27.pod13.usw2.zdsys.com",
          "X-Zendesk-Request-Id": "cb12d7217a63810ade1e"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/groups.json"
      }
    },
    {
      "recorded_at": "2018-03-30T07:36:57",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"group\": {\"id\": 360000657632}}"
        },
        "headers": {
          "Authorization": "Basic c2luayt6ZW5kZXNrQGZhY2V0b2UuY29tLmF1L3Rva2VuOnBUNXQ2ZEZ4QWltU1hoNEkydjBYeVMwSkNlYVV4eWROQUxFRkV1VWM=",
          "Content-Type": "application/json"
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/groups/360000657632.json"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Rate-Limit": "700",
          "X-Rate-Limit-Remaining": "694",
          "X-Zendesk-API-Version": "v2",
          "X-Zendesk-API-Warn": "Removed restricted keys [\"group.id\", \"group\"] from parameters according to whitelist",
          "X-Zendesk-Application-Version": "v757.19",
          "X-Zendesk-Origin-Server": "app29.pod13.usw2.zdsys.com",
          "X-Zendesk-Request-Id": "20a595f911279b895026"
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/groups/360000657632.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}