{
  "http_interactions": [
    {
      "recorded_at": "2018-04-16T07:19:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"ticket\": {\"id\": 6506}}"
        },
        "headers": {
          "Authorization": [
            "Basic c2luayt6ZW5kZXNrQGZhY2V0b2UuY29tLmF1L3Rva2VuOnBUNXQ2ZEZ4QWltU1hoNEkydjBYeVMwSkNlYVV4eWROQUxFRkV1VWM="
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/tickets/6506.json"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Rate-Limit": [
            "700"
          ],
          "X-Rate-Limit-Remaining": [
            "674"
          ],
          "X-Zendesk-API-Version": [
            "v2"
          ],
          "X-Zendesk-API-Warn": [
            "Removed restricted keys [\"ticket.id\", \"ticket\"] from parameters according to whitelist"
          ],
          "X-Zendesk-Application-Version": [
            "v926.24"
          ],
          "X-Zendesk-Origin-Server": [
            "app11.pod13.usw2.zdsys.com"
          ],
          "X-Zendesk-Request-Id": [
            "9c36a6210ff626166b08"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/tickets/6506.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}