{
  "http_interactions": [
    {
      "recorded_at": "2018-03-30T07:37:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"organization\": {\"id\": null, \"name\": \"testOrganization\"}}"
        },
        "headers": {
          "Authorization": "Basic c2luayt6ZW5kZXNrQGZhY2V0b2UuY29tLmF1L3Rva2VuOnBUNXQ2ZEZ4QWltU1hoNEkydjBYeVMwSkNlYVV4eWROQUxFRkV1VWM=",
          "Content-Type": "application/json"
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/organizations.json"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"organization\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/organizations/360036741151.json\",\"id\":360036741151,\"name\":\"testOrganization\",\"shared_tickets\":false,\"shared_comments\":false,\"external_id\":null,\"created_at\":\"2018-03-30T07:37:04Z\",\"updated_at\":\"2018-03-30T07:37:04Z\",\"domain_names\":[],\"details\":null,\"notes\":null,\"group_id\":null,\"tags\":[],\"organization_fields\":{\"testfields\":null}}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "ETag": "\"7bfe3ed3fa2bc6b0971fb2271844a980\"",
          "Location": "https://d3v-zenpydev.zendesk.com/api/v2/organizations/360036741151.json",
          "X-Rate-Limit": "700",
          "X-Rate-Limit-Remaining": "693",
          "X-Zendesk-API-Version": "v2",
          "X-Zendesk-API-Warn": "Removed restricted keys [\"organization.id\"] from parameters according to whitelist",
          "X-Zendesk-Application-Version": "v757.19",
          "X-Zendesk-Origin-Server": "app60.pod13.usw2.zdsys.com",
          "X-Zendesk-Request-Id": "2f1f8a05020dfd5192e1"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/organizations.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}