{
  "http_interactions": [
    {
      "recorded_at": "2023-08-31T18:45:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"automation\": {\"actions\": [{\"field\": \"status\", \"value\": \"open\"}], \"id\": null, \"title\": \"testAutomationNone\", \"all\": [{\"field\": \"status\", \"operator\": \"is\", \"value\": \"pending\"}, {\"field\": \"PENDING\", \"operator\": \"greater_than\", \"value\": \"24\"}]}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/automations.json"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"automation\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/automations/6097506668570.json\",\"id\":6097506668570,\"title\":\"testAutomationNone\",\"active\":true,\"updated_at\":\"2023-08-31T18:45:14Z\",\"created_at\":\"2023-08-31T18:45:14Z\",\"default\":false,\"actions\":[{\"field\":\"status\",\"value\":\"open\"}],\"conditions\":{\"all\":[{\"field\":\"status\",\"operator\":\"is\",\"value\":\"pending\"},{\"field\":\"PENDING\",\"operator\":\"greater_than\",\"value\":\"24\"}],\"any\":[]},\"position\":10000,\"raw_title\":\"testAutomationNone\"}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"6525a2db0cbe5bf5d376f876b36f80ce\""
          ],
          "location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/automations/6097506668570.json"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "652"
          ],
          "rate-limit-reset": [
            "45"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "652"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-api-warn": [
            "{:allowed_parameters=>{:controller=>\"automations\", :action=>\"create\", :unpermitted_keys=>[\"automation.id\"], :invalid_values=>[]}}"
          ],
          "x-zendesk-application-version": [
            "v18239"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-566774b49d-r7f2n"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/automations.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}