{
  "http_interactions": [
    {
      "recorded_at": "2023-09-18T23:34:33",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"macros\": [{\"id\": 6164073601050}, {\"id\": 6164101543450}, {\"id\": 6164110298138}, {\"id\": 6164094363546}, {\"id\": 6164094364954}]}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/macros/destroy_many.json?ids=6164073601050,6164101543450,6164110298138,6164094363546,6164094364954"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "570"
          ],
          "rate-limit-reset": [
            "27"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "570"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-api-warn": [
            "{:allowed_parameters=>{:controller=>\"macros\", :action=>\"destroy_many\", :unpermitted_keys=>[\"macros\"], :invalid_values=>[]}}"
          ],
          "x-zendesk-application-version": [
            "v18385"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-7bd9f74fd7-l8wsp"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/macros/destroy_many.json?ids=6164073601050,6164101543450,6164110298138,6164094363546,6164094364954"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}