{
  "http_interactions": [
    {
      "recorded_at": "2023-09-18T23:22:20",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"topic\": {\"description\": \"this is a Topic test\", \"name\": \"test\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/community/topics.json"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"topic\":{\"id\":6164054245146,\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/help_center/community/topics/6164054245146.json\",\"html_url\":\"https://d3v-zenpydev.zendesk.com/hc/en-us/community/topics/6164054245146-test\",\"name\":\"test\",\"description\":\"this is a Topic test\",\"position\":0,\"follower_count\":0,\"community_id\":6130869406490,\"created_at\":\"2023-09-18T23:22:20Z\",\"updated_at\":\"2023-09-18T23:22:20Z\",\"manageable_by\":\"staff\",\"user_segment_id\":null}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"078e560d0f448c587d0a15b13908bc6b\""
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "689"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-origin-server": [
            "help-center-unicorn-6bcc4cc7b5-xk7bx"
          ],
          "x-zendesk-processed-host-header": [
            "d3v-zenpydev.zendesk.com"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/community/topics.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}