{
  "http_interactions": [
    {
      "recorded_at": "2023-08-16T14:54:32",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/octet-stream"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/uploads.json?filename=README.md"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"upload\":{\"token\":\"k7K1fCXQyVB6dm0ql6l4E5Qua\",\"expires_at\":\"2023-08-19T14:54:32Z\",\"attachments\":[{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/attachments/13120610198674.json\",\"id\":13120610198674,\"file_name\":\"README.md\",\"content_url\":\"https://d3v-zenpydev.zendesk.com/attachments/token/WPPdMpZQG2iD37f57os6BcpDI/?name=README.md\",\"mapped_content_url\":\"https://d3v-zenpydev.zendesk.com/attachments/token/WPPdMpZQG2iD37f57os6BcpDI/?name=README.md\",\"content_type\":\"application/x-genesis-rom\",\"size\":14338,\"width\":null,\"height\":null,\"inline\":false,\"deleted\":false,\"malware_access_override\":false,\"malware_scan_result\":\"not_scanned\",\"thumbnails\":[]}],\"attachment\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/attachments/13120610198674.json\",\"id\":13120610198674,\"file_name\":\"README.md\",\"content_url\":\"https://d3v-zenpydev.zendesk.com/attachments/token/WPPdMpZQG2iD37f57os6BcpDI/?name=README.md\",\"mapped_content_url\":\"https://d3v-zenpydev.zendesk.com/attachments/token/WPPdMpZQG2iD37f57os6BcpDI/?name=README.md\",\"content_type\":\"application/x-genesis-rom\",\"size\":14338,\"width\":null,\"height\":null,\"inline\":false,\"deleted\":false,\"malware_access_override\":false,\"malware_scan_result\":\"not_scanned\",\"thumbnails\":[]}}}"
        },
        "headers": {
          "Content-Type": [
            "text/plain; charset=utf-8"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"927821105a630a4b2053730189f15c20\""
          ],
          "location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/attachments/13120610198674.json"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "653"
          ],
          "rate-limit-reset": [
            "28"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "653"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-application-version": [
            "v17988"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-8589bd8f84-hk94s"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/uploads.json?filename=README.md"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}