{
  "http_interactions": [
    {
      "recorded_at": "2017-04-23T13:52:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"group\": {\"created_at\": \"2017-04-23T13:52:14Z\", \"deleted\": false, \"id\": 41772327, \"name\": \"testGroupbfc937463906e5db7a02a37c6060c62f9086c548\", \"updated_at\": \"2017-04-23T13:52:14Z\", \"url\": \"https://facetoe1.zendesk.com/api/v2/groups/41772327.json\", \"user_ids\": []}}"
        },
        "headers": {
          "Authorization": "Basic ZmFjZXRvZUBmYWNldG9lLmNvbS5hdS90b2tlbjpkbWZIVnh6ak90b0ZsVlhJNnMzeFE2YmQ1dXZ1RG5Sb0kydkZWWW85",
          "Content-type": "application/json"
        },
        "method": "DELETE",
        "uri": "https://facetoe1.zendesk.com/api/v2/groups/41772327.json&include=users"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Rate-Limit": "400",
          "X-Rate-Limit-Remaining": "390",
          "X-Zendesk-API-Version": "v2",
          "X-Zendesk-API-Warn": "Removed restricted keys [\"created_at\", \"deleted\", \"name\", \"updated_at\", \"url\", \"user_ids\", \"group\"] from parameters according to whitelist",
          "X-Zendesk-Application-Version": "v20.24",
          "X-Zendesk-Origin-Server": "app41.pod5.iad1.zdsys.com",
          "X-Zendesk-Request-Id": "b2e353b8f3c6d53c93a1"
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://facetoe1.zendesk.com/api/v2/groups/41772327.json&include=users"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}