{
  "http_interactions": [
    {
      "recorded_at": "2023-08-31T18:48:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"views\": [{\"id\": 6097537822618}, {\"id\": 6097508834458}, {\"id\": 6097523586202}, {\"id\": 6097523588890}, {\"id\": 6097508837786}]}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/views/destroy_many.json?ids=6097537822618,6097508834458,6097523586202,6097523588890,6097508837786"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "610"
          ],
          "rate-limit-reset": [
            "15"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "610"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-api-warn": [
            "{:allowed_parameters=>{:controller=>\"views\", :action=>\"destroy_many\", :unpermitted_keys=>[\"views\"], :invalid_values=>[]}}"
          ],
          "x-zendesk-application-version": [
            "v18239"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-566774b49d-r7f2n"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/views/destroy_many.json?ids=6097537822618,6097508834458,6097523586202,6097523588890,6097508837786"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}