{
  "http_interactions": [
    {
      "recorded_at": "2017-04-20T17:44:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"group\": {\"name\": \"testGroup\"}}"
        },
        "headers": {
          "Authorization": "Basic ZmFjZXRvZUBmYWNldG9lLmNvbS5hdS90b2tlbjpkbWZIVnh6ak90b0ZsVlhJNnMzeFE2YmQ1dXZ1RG5Sb0kydkZWWW85",
          "Content-type": "application/json"
        },
        "method": "POST",
        "uri": "https://facetoe1.zendesk.com/api/v2/groups.json?&include=users"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"group\":{\"url\":\"https://facetoe1.zendesk.com/api/v2/groups/41764148.json\",\"id\":41764148,\"name\":\"testGroup\",\"deleted\":false,\"created_at\":\"2017-04-20T17:44:08Z\",\"updated_at\":\"2017-04-20T17:44:08Z\",\"user_ids\":[]},\"users\":[]}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "ETag": "\"e934cf6d46ee9127c3af4f99bd765aeb\"",
          "Location": "https://facetoe1.zendesk.com/api/v2/groups/41764148.json",
          "X-Rate-Limit": "400",
          "X-Rate-Limit-Remaining": "394",
          "X-Zendesk-API-Version": "v2",
          "X-Zendesk-Application-Version": "v19.33",
          "X-Zendesk-Origin-Server": "app28.pod5.iad1.zdsys.com",
          "X-Zendesk-Request-Id": "acf5339faf81d70dda69"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://facetoe1.zendesk.com/api/v2/groups.json?&include=users"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}