{
  "http_interactions": [
    {
      "recorded_at": "2018-03-30T06:17:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"user\": {\"id\": null, \"name\": \"testUser\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic c2luayt6ZW5kZXNrQGZhY2V0b2UuY29tLmF1L3Rva2VuOnBUNXQ2ZEZ4QWltU1hoNEkydjBYeVMwSkNlYVV4eWROQUxFRkV1VWM="
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/users.json"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"user\":{\"id\":362436404731,\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/users/362436404731.json\",\"name\":\"testUser\",\"email\":null,\"created_at\":\"2018-03-30T06:17:47Z\",\"updated_at\":\"2018-03-30T06:17:47Z\",\"time_zone\":\"Magadan\",\"phone\":null,\"shared_phone_number\":null,\"photo\":null,\"locale_id\":1,\"locale\":\"en-US\",\"organization_id\":null,\"role\":\"end-user\",\"verified\":false,\"external_id\":null,\"tags\":[],\"alias\":null,\"active\":true,\"shared\":false,\"shared_agent\":false,\"last_login_at\":null,\"two_factor_auth_enabled\":false,\"signature\":null,\"details\":null,\"notes\":null,\"role_type\":null,\"custom_role_id\":null,\"moderator\":false,\"ticket_restriction\":\"requested\",\"only_private_comments\":false,\"restricted_agent\":true,\"suspended\":false,\"chat_only\":false,\"default_group_id\":null,\"user_fields\":{\"more_crap\":null,\"some_crap\":null}}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "ETag": [
            "\"1bdb2b1d2d6976e8f5e65160925661d4\""
          ],
          "Location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/users/362436404731.json"
          ],
          "X-Rate-Limit": [
            "700"
          ],
          "X-Rate-Limit-Remaining": [
            "665"
          ],
          "X-Zendesk-API-Version": [
            "v2"
          ],
          "X-Zendesk-Application-Version": [
            "v757.19"
          ],
          "X-Zendesk-Origin-Server": [
            "app54.pod13.usw2.zdsys.com"
          ],
          "X-Zendesk-Request-Id": [
            "3f70f989241a403100ec"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/users.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}