{
  "http_interactions": [
    {
      "recorded_at": "2023-09-18T23:30:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"organization_field\": {\"description\": \"test\", \"key\": \"somethingsomethingsomething\", \"title\": \"i am test\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/organization_fields.json"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"organization_field\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/organization_fields/6164121212186.json\",\"id\":6164121212186,\"type\":\"text\",\"key\":\"somethingsomethingsomething\",\"title\":\"i am test\",\"description\":\"test\",\"raw_title\":\"i am test\",\"raw_description\":\"test\",\"position\":9999,\"active\":true,\"system\":false,\"regexp_for_validation\":null,\"created_at\":\"2023-09-18T23:30:13Z\",\"updated_at\":\"2023-09-18T23:30:13Z\"}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"5b93c257ea389175a1c21ecc89298dc1\""
          ],
          "location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/organization_fields/6164121212186.json"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "678"
          ],
          "rate-limit-reset": [
            "47"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "678"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-application-version": [
            "v18385"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-7bd9f74fd7-58t7s"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/organization_fields.json"
      }
    },
    {
      "recorded_at": "2023-09-18T23:30:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"organization_field\": {\"id\": 6164121212186}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/organization_fields/6164121212186.json"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "677"
          ],
          "rate-limit-reset": [
            "47"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "677"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-api-warn": [
            "{:allowed_parameters=>{:controller=>\"organization_fields\", :action=>\"destroy\", :unpermitted_keys=>[\"organization_field.id\", \"organization_field\"], :invalid_values=>[]}}"
          ],
          "x-zendesk-application-version": [
            "v18385"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-7bd9f74fd7-qxtht"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/organization_fields/6164121212186.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}