{
  "http_interactions": [
    {
      "recorded_at": "2023-08-31T18:45:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"macro\": {\"actions\": [{\"field\": \"status\", \"value\": \"solved\"}], \"id\": null, \"title\": \"TestMacro\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/macros.json"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"macro\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/macros/6097521473818.json\",\"id\":6097521473818,\"title\":\"TestMacro\",\"active\":true,\"updated_at\":\"2023-08-31T18:45:21Z\",\"created_at\":\"2023-08-31T18:45:21Z\",\"default\":false,\"position\":10000,\"description\":null,\"actions\":[{\"field\":\"status\",\"value\":\"solved\"}],\"restriction\":null,\"raw_title\":\"TestMacro\"}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"1f7b5727edf1a079e82832f382376f2b\""
          ],
          "location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/macros/6097521473818.json"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "627"
          ],
          "rate-limit-reset": [
            "39"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "627"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-api-warn": [
            "{:allowed_parameters=>{:controller=>\"macros\", :action=>\"create\", :unpermitted_keys=>[\"macro.id\"], :invalid_values=>[]}}"
          ],
          "x-zendesk-application-version": [
            "v18229"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-574f8cd7c6-plpzp"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/macros.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}