{
  "http_interactions": [
    {
      "recorded_at": "2018-04-25T14:54:03",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"organization\": {\"id\": 360052910471}}"
        },
        "headers": {
          "Authorization": [
            "Basic c2luayt6ZW5kZXNrQGZhY2V0b2UuY29tLmF1L3Rva2VuOnZTRlRhTTdTcklBUDUycjNGZGt2WG9XRU15R25yT1RoUlZzbnpvSG8="
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/organizations/360052910471.json"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Rate-Limit": [
            "700"
          ],
          "X-Rate-Limit-Remaining": [
            "696"
          ],
          "X-Zendesk-API-Version": [
            "v2"
          ],
          "X-Zendesk-API-Warn": [
            "Removed restricted keys [\"organization.id\", \"organization\"] from parameters according to whitelist"
          ],
          "X-Zendesk-Application-Version": [
            "v1010.44"
          ],
          "X-Zendesk-Origin-Server": [
            "app24.pod13.usw2.zdsys.com"
          ],
          "X-Zendesk-Request-Id": [
            "d6962779a70bab42b92c"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/organizations/360052910471.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}