{
  "http_interactions": [
    {
      "recorded_at": "2024-08-19T23:23:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"content_tag\": {\"id\": \"01J5PF7CDVDXT9MFEDVBY9P7EX\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/guide/content_tags/01J5PF7CDVDXT9MFEDVBY9P7EX"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Zendesk-API-Gateway": [
            "yes"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "695"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-application-version": [
            "v464"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/guide/content_tags/01J5PF7CDVDXT9MFEDVBY9P7EX"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}