{
  "http_interactions": [
    {
      "recorded_at": "2017-04-22T17:02:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"organization\": {\"name\": \"testOrganization\"}}"
        },
        "headers": {
          "Authorization": "Basic ZmFjZXRvZUBmYWNldG9lLmNvbS5hdS90b2tlbjpkbWZIVnh6ak90b0ZsVlhJNnMzeFE2YmQ1dXZ1RG5Sb0kydkZWWW85",
          "Content-type": "application/json"
        },
        "method": "POST",
        "uri": "https://facetoe1.zendesk.com/api/v2/organizations.json?&include="
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"organization\":{\"url\":\"https://facetoe1.zendesk.com/api/v2/organizations/16394110167.json\",\"id\":16394110167,\"name\":\"testOrganization\",\"shared_tickets\":false,\"shared_comments\":false,\"external_id\":null,\"created_at\":\"2017-04-22T17:02:34Z\",\"updated_at\":\"2017-04-22T17:02:34Z\",\"domain_names\":[],\"details\":null,\"notes\":null,\"group_id\":null,\"tags\":[],\"organization_fields\":{}}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "ETag": "\"5dc2d49786e568055c826d2d5953b9b1\"",
          "Location": "https://facetoe1.zendesk.com/api/v2/organizations/16394110167.json",
          "X-Rate-Limit": "400",
          "X-Rate-Limit-Remaining": "392",
          "X-Zendesk-API-Version": "v2",
          "X-Zendesk-Application-Version": "v20.24",
          "X-Zendesk-Origin-Server": "app31.pod5.iad1.zdsys.com",
          "X-Zendesk-Request-Id": "a0b5877e34ea598e23e2"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://facetoe1.zendesk.com/api/v2/organizations.json?&include="
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}