{
  "http_interactions": [
    {
      "recorded_at": "2023-09-18T23:35:03",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"group\": {\"name\": \"testGroupNone\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/groups.json"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"group\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/groups/6164101700378.json\",\"id\":6164101700378,\"is_public\":true,\"name\":\"testGroupNone\",\"description\":\"\",\"default\":false,\"deleted\":false,\"created_at\":\"2023-09-18T23:35:02Z\",\"updated_at\":\"2023-09-18T23:35:02Z\"}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"3979f11f01a1863d1e1888ae9e042591\""
          ],
          "location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/groups/6164101700378.json"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "689"
          ],
          "rate-limit-reset": [
            "57"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "689"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-application-version": [
            "v18385"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-7bd9f74fd7-t2xzg"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/groups.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}