{
  "http_interactions": [
    {
      "recorded_at": "2023-09-18T23:30:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"ticket_field\": {\"title\": \"I AM A TEST\", \"type\": \"text\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/ticket_fields.json"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"ticket_field\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/ticket_fields/6164040575258.json\",\"id\":6164040575258,\"type\":\"text\",\"title\":\"I AM A TEST\",\"raw_title\":\"I AM A TEST\",\"description\":\"I AM A TEST\",\"raw_description\":\"I AM A TEST\",\"position\":9999,\"active\":true,\"required\":false,\"collapsed_for_agents\":false,\"regexp_for_validation\":null,\"title_in_portal\":\"I AM A TEST\",\"raw_title_in_portal\":\"I AM A TEST\",\"visible_in_portal\":false,\"editable_in_portal\":false,\"required_in_portal\":false,\"tag\":null,\"created_at\":\"2023-09-18T23:30:14Z\",\"updated_at\":\"2023-09-18T23:30:14Z\",\"removable\":true,\"key\":null,\"agent_description\":null}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"84f7ba3b88bb255baa5cd7e6b7edbbff\""
          ],
          "location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/ticket_fields/6164040575258.json"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "671"
          ],
          "rate-limit-reset": [
            "45"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "671"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-application-version": [
            "v18385"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-7bd9f74fd7-8kkvk"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/ticket_fields.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}