{
  "http_interactions": [
    {
      "recorded_at": "2018-03-30T05:55:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"category\": {\"id\": 360000253131}}"
        },
        "headers": {
          "Authorization": "Basic c2luayt6ZW5kZXNrQGZhY2V0b2UuY29tLmF1L3Rva2VuOnBUNXQ2ZEZ4QWltU1hoNEkydjBYeVMwSkNlYVV4eWROQUxFRkV1VWM=",
          "Content-Type": "application/json"
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/help_center/categories/360000253131.json"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "Status": "204 No Content",
          "X-Zendesk-API-Version": "v2",
          "X-Zendesk-Origin-Server": "hcapp30.pod13.usw2.zdsys.com",
          "X-Zendesk-User-Id": ""
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/help_center/categories/360000253131.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}