{
  "http_interactions": [
    {
      "recorded_at": "2017-04-22T17:04:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"ticket\": {\"description\": \"test\", \"subject\": \"test\"}}"
        },
        "headers": {
          "Authorization": "Basic ZmFjZXRvZUBmYWNldG9lLmNvbS5hdS90b2tlbjpkbWZIVnh6ak90b0ZsVlhJNnMzeFE2YmQ1dXZ1RG5Sb0kydkZWWW85",
          "Content-type": "application/json"
        },
        "method": "POST",
        "uri": "https://facetoe1.zendesk.com/api/v2/tickets.json?&include=users,groups,organizations"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"ticket\":{\"url\":\"https://facetoe1.zendesk.com/api/v2/tickets/10285.json\",\"id\":10285,\"external_id\":null,\"via\":{\"channel\":\"api\",\"source\":{\"from\":{},\"to\":{},\"rel\":null}},\"created_at\":\"2017-04-22T17:05:02Z\",\"updated_at\":\"2017-04-22T17:05:02Z\",\"type\":null,\"subject\":\"test\",\"raw_subject\":\"test\",\"description\":\"test\",\"priority\":null,\"status\":\"open\",\"recipient\":null,\"requester_id\":21311632247,\"submitter_id\":21311632247,\"assignee_id\":21311632247,\"organization_id\":null,\"group_id\":41661887,\"collaborator_ids\":[],\"forum_topic_id\":null,\"problem_id\":null,\"has_incidents\":false,\"is_public\":true,\"due_at\":null,\"tags\":[],\"custom_fields\":[],\"satisfaction_rating\":null,\"sharing_agreement_ids\":[],\"fields\":[],\"brand_id\":7159727,\"allow_channelback\":false},\"users\":[{\"id\":21311632247,\"url\":\"https://facetoe1.zendesk.com/api/v2/users/21311632247.json\",\"name\":\"Facetoe\",\"email\":\"stupiddumb@facetoe.com.au\",\"created_at\":\"2017-04-17T18:11:10Z\",\"updated_at\":\"2017-04-22T16:48:29Z\",\"time_zone\":\"Bangkok\",\"phone\":null,\"shared_phone_number\":null,\"photo\":null,\"locale_id\":1,\"locale\":\"en-US\",\"organization_id\":null,\"role\":\"admin\",\"verified\":true,\"external_id\":null,\"tags\":[],\"alias\":null,\"active\":true,\"shared\":false,\"shared_agent\":false,\"last_login_at\":\"2017-04-22T16:48:29Z\",\"two_factor_auth_enabled\":null,\"signature\":null,\"details\":null,\"notes\":null,\"custom_role_id\":null,\"moderator\":true,\"ticket_restriction\":null,\"only_private_comments\":false,\"restricted_agent\":false,\"suspended\":false,\"chat_only\":false,\"user_fields\":{}}],\"groups\":[{\"url\":\"https://facetoe1.zendesk.com/api/v2/groups/41661887.json\",\"id\":41661887,\"name\":\"Support\",\"deleted\":false,\"created_at\":\"2017-04-17T18:11:10Z\",\"updated_at\":\"2017-04-17T18:11:12Z\"}],\"organizations\":[],\"audit\":{\"id\":290574199787,\"ticket_id\":10285,\"created_at\":\"2017-04-22T17:05:02Z\",\"author_id\":21311632247,\"via\":{\"channel\":\"api\",\"source\":{\"from\":{},\"to\":{},\"rel\":null}},\"metadata\":{\"system\":{\"client\":\"Zenpy/1.1\",\"ip_address\":\"27.55.114.187\",\"location\":\"Bangkok, 40, Thailand\",\"latitude\":13.7594,\"longitude\":100.4889},\"custom\":{}},\"events\":[{\"id\":290574199847,\"type\":\"Comment\",\"author_id\":21311632247,\"body\":\"test\",\"html_body\":\"<div class=\\\"zd-comment\\\"><p dir=\\\"auto\\\">test</p></div>\",\"plain_body\":\"test\",\"public\":true,\"attachments\":[],\"audit_id\":290574199787},{\"id\":290574199967,\"type\":\"Create\",\"value\":\"test\",\"field_name\":\"subject\"},{\"id\":290574200007,\"type\":\"Create\",\"value\":\"21311632247\",\"field_name\":\"requester_id\"},{\"id\":290574200047,\"type\":\"Create\",\"value\":\"open\",\"field_name\":\"status\"},{\"id\":290574200087,\"type\":\"Create\",\"value\":null,\"field_name\":\"priority\"},{\"id\":290574200107,\"type\":\"Create\",\"value\":null,\"field_name\":\"type\"},{\"id\":290574200127,\"type\":\"Create\",\"value\":\"21311632247\",\"field_name\":\"assignee_id\"},{\"id\":290574200147,\"type\":\"Create\",\"value\":\"41661887\",\"field_name\":\"group_id\"},{\"id\":290574200167,\"type\":\"Notification\",\"via\":{\"channel\":\"rule\",\"source\":{\"to\":{},\"from\":{\"id\":304221247,\"title\":\"Notify requester of received request\"},\"rel\":\"trigger\"}},\"subject\":\"[Request received] {{ticket.title}}\",\"body\":\"Your request ({{ticket.id}}) has been received and is being reviewed by our support staff.\\n\\nTo add additional comments, reply to this email.\\n\\n{{ticket.comments_formatted}}\",\"recipients\":[21311632247]},{\"id\":290574200227,\"type\":\"Notification\",\"via\":{\"channel\":\"rule\",\"source\":{\"to\":{},\"from\":{\"id\":304221367,\"title\":\"Notify all agents of received request\"},\"rel\":\"trigger\"}},\"subject\":\"[{{ticket.account}}] {{ticket.title}}\",\"body\":\"A ticket (#{{ticket.id}}) by {{ticket.requester.name}} has been received. It is unassigned.\\n\\n{{ticket.comments_formatted}}\",\"recipients\":[21311632247]}]}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "ETag": "\"34b568473eb44ea39d1da76ddd589f2f\"",
          "Location": "https://facetoe1.zendesk.com/api/v2/tickets/10285.json",
          "X-Rate-Limit": "400",
          "X-Rate-Limit-Remaining": "397",
          "X-Zendesk-API-Version": "v2",
          "X-Zendesk-Application-Version": "v20.24",
          "X-Zendesk-Origin-Server": "app11.pod5.iad1.zdsys.com",
          "X-Zendesk-Request-Id": "264c065cbf298b79456a"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://facetoe1.zendesk.com/api/v2/tickets.json?&include=users,groups,organizations"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}