{
  "http_interactions": [
    {
      "recorded_at": "2023-08-09T10:49:43",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"group\": {\"id\": null, \"name\": \"testGroupNone\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/groups.json"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"group\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/groups/12977432287890.json\",\"id\":12977432287890,\"is_public\":true,\"name\":\"testGroupNone\",\"description\":\"\",\"default\":false,\"deleted\":false,\"created_at\":\"2023-08-09T10:49:43Z\",\"updated_at\":\"2023-08-09T10:49:43Z\"}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"87e598c58b2113d7c6e26b3590873f88\""
          ],
          "location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/groups/12977432287890.json"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "617"
          ],
          "rate-limit-reset": [
            "16"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "617"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-api-warn": [
            "{:allowed_parameters=>{:controller=>\"groups\", :action=>\"create\", :unpermitted_keys=>[\"group.id\"], :invalid_values=>[]}}"
          ],
          "x-zendesk-application-version": [
            "v17926"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-56c6d98d7f-dkjbb"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/groups.json"
      }
    },
    {
      "recorded_at": "2023-08-09T10:49:43",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"group\": {\"id\": 12977432287890}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/groups/12977432287890.json"
      },
     [...]
