{
  "http_interactions": [
    {
      "recorded_at": "2017-12-08T23:16:56",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"ticket_field\": {\"type\": \"text\", \"title\": \"I AM A TEST\"}}"
        },
        "headers": {
          "Authorization": "Basic <ZENPY-CREDENTIALS>",
          "Content-Type": "application/json"
        },
        "method": "POST",
        "uri": "https://zenpydevhelp.zendesk.com/api/v2/ticket_fields.json?&include="
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"ticket_field\":{\"url\":\"https://zenpydevhelp.zendesk.com/api/v2/ticket_fields/114102572332.json\",\"id\":114102572332,\"type\":\"text\",\"title\":\"I AM A TEST\",\"raw_title\":\"I AM A TEST\",\"description\":\"I AM A TEST\",\"raw_description\":\"I AM A TEST\",\"position\":9999,\"active\":true,\"required\":false,\"collapsed_for_agents\":false,\"regexp_for_validation\":null,\"title_in_portal\":\"I AM A TEST\",\"raw_title_in_portal\":\"I AM A TEST\",\"visible_in_portal\":false,\"editable_in_portal\":false,\"required_in_portal\":false,\"tag\":null,\"created_at\":\"2017-12-08T23:16:56Z\",\"updated_at\":\"2017-12-08T23:16:56Z\",\"removable\":true}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "ETag": "\"e907420fd31e9427dc984fce4bcba6e1\"",
          "Location": "https://zenpydevhelp.zendesk.com/api/v2/ticket_fields/114102572332.json",
          "X-Rate-Limit": "700",
          "X-Rate-Limit-Remaining": "696",
          "X-Zendesk-API-Version": "v2",
          "X-Zendesk-Application-Version": "v52.15",
          "X-Zendesk-Origin-Server": "app54.pod13.usw2.zdsys.com",
          "X-Zendesk-Request-Id": "846bd8ffdfc31eec678c"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://zenpydevhelp.zendesk.com/api/v2/ticket_fields.json?&include="
      }
    },
    {
      "recorded_at": "2017-12-08T23:16:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"ticket_field\": {\"raw_title\": \"I AM A TEST\", \"created_at\": \"2017-12-08T23:16:56Z\", \"description\": \"I AM A TEST\", \"title\": \"I AM A TEST\", \"url\": \"https://zenpydevhelp.zendesk.com/api/v2/ticket_fields/114102572332.json\", \"visible_in_portal\": false, \"raw_description\": \"I AM A TEST\", \"required\": false, \"updated_at\": \"2017-12-08T23:16:56Z\", \"required_in_portal\": false, \"collapsed_for_agents\": false, \"raw_title_in_portal\": \"I AM A TEST\", \"title_in_portal\": \"I AM A TEST\", \"active\": true, \"position\": 9999, \"removable\": true, \"type\": \"text\", \"id\": 114102572332, \"editable_in_portal\": false}}"
        },
        "headers": {
          "Authorization": "Basic <ZENPY-CREDENTIALS>",
          "Content-Type": "application/json"
        },
        "method": "DELETE",
        "uri": "https://zenpydevhelp.zendesk.com/api/v2/ticket_fields/114102572332.json&include="
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Rate-Limit": "700",
          "X-Rate-Limit-Remaining": "695",
          "X-Zendesk-API-Version": "v2",
          "X-Zendesk-API-Warn": "Removed restricted keys [\"ticket_field.raw_title\", \"ticket_field.created_at\", \"ticket_field.description\", \"ticket_field.title\", \"ticket_field.url\", \"ticket_field.visible_in_portal\", \"ticket_field.raw_description\", \"ticket_field.required\", \"ticket_field.updated_at\", \"ticket_field.required_in_portal\", \"ticket_field.collapsed_for_agents\", \"ticket_field.raw_title_in_portal\", \"ticket_field.title_in_portal\", \"ticket_field.active\", \"ticket_field.position\", \"ticket_field.removable\", \"ticket_field.type\", \"ticket_field.id\", \"ticket_field.editable_in_portal\", \"ticket_field\"] from parameters according to whitelist",
          "X-Zendesk-Application-Version": "v52.15",
          "X-Zendesk-Origin-Server": "app32.pod13.usw2.zdsys.com",
          "X-Zendesk-Request-Id": "4684e7a09b96974f21b0"
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://zenpydevhelp.zendesk.com/api/v2/ticket_fields/114102572332.json&include="
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}