{
  "http_interactions": [
    {
      "recorded_at": "2022-08-29T08:08:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"webhook\": {\"authentication\": {\"add_position\": \"header\", \"data\": {\"password\": \"hello_123\", \"username\": \"john_smith\"}, \"type\": \"basic_auth\"}, \"description\": \"Description\", \"endpoint\": \"https://example.com\", \"http_method\": \"GET\", \"id\": null, \"name\": \"Example Webhook X1234\", \"request_format\": \"json\", \"status\": \"active\", \"subscriptions\": [\"conditional_ticket_events\"]}}"
        },
        "headers": {
          "Authorization": [
            "Basic ZXhhbXBsZUBleGFtcGxlLmNvbS90b2tlbjpub3QgcmVhbGx5IGEgdG9rZW4="
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/webhooks"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"webhook\":{\"id\":\"01GBMAAKEHPF7PM9FXDJ4YMMZM\",\"name\":\"Example Webhook X1234\",\"description\":\"Description\",\"status\":\"active\",\"subscriptions\":[\"conditional_ticket_events\"],\"created_at\":\"2022-08-29T08:08:43.729957246Z\",\"created_by\":\"369803095578\",\"endpoint\":\"https://example.com\",\"http_method\":\"GET\",\"request_format\":\"json\",\"authentication\":{\"type\":\"basic_auth\",\"data\":{\"username\":\"john_smith\"},\"add_position\":\"header\"}}}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "x-rate-limit": [
            "100"
          ],
          "x-rate-limit-remaining": [
            "63"
          ],
          "x-zendesk-api-version": [
            "v2"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/webhooks"
      }
    },
    {
      "recorded_at": "2022-08-29T08:08:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic ZXhhbXBsZUBleGFtcGxlLmNvbS90b2tlbjpub3QgcmVhbGx5IGEgdG9rZW4="
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/webhooks/01GBMAAKEHPF7PM9FXDJ4YMMZM/signing_secret"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"signing_secret\":{\"secret\":\"b5jtXiAQpT3tTP92Uil0waIgnx1jhsGyr-_y-xeif9Y=\",\"algorithm\":\"SHA256\"}}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "x-rate-limit": [
            "100"
          ],
          "x-rate-limit-remaining": [
            "62"
          ],
          "x-zendesk-api-version": [
            "v2"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/webhooks/01GBMAAKEHPF7PM9FXDJ4YMMZM/signing_secret"
      }
    },
    {
      "recorded_at": "2022-08-29T08:08:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"webhook\": {\"id\": \"01GBMAAKEHPF7PM9FXDJ4YMMZM\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic ZXhhbXBsZUBleGFtcGxlLmNvbS90b2tlbjpub3QgcmVhbGx5IGEgdG9rZW4="
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/webhooks/01GBMAAKEHPF7PM9FXDJ4YMMZM"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "x-rate-limit": [
            "100"
          ],
          "x-rate-limit-remaining": [
            "61"
          ],
          "x-zendesk-api-version": [
            "v2"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/webhooks/01GBMAAKEHPF7PM9FXDJ4YMMZM"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}