{
  "http_interactions": [
    {
      "recorded_at": "2017-11-07T04:02:19",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"category\": {\"description\": \"this is a test\", \"name\": \"test\"}}"
        },
        "headers": {
          "Authorization": "Basic c2luayt6ZW5kZXNrQGZhY2V0b2UuY29tLmF1L3Rva2VuOklpeWNRd3I2ZUtUc1p3MVhmR1JLSXM0b1k2c0M4d2w5bmdRbjBNeEU=",
          "Content-Type": "application/json"
        },
        "method": "POST",
        "uri": "https://zenpydevhelp.zendesk.com/api/v2/help_center/categories.json?&include="
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"category\":{\"id\":115000317012,\"url\":\"https://zenpydevhelp.zendesk.com/api/v2/help_center/en-us/categories/115000317012-test.json\",\"html_url\":\"https://zenpydevhelp.zendesk.com/hc/en-us/categories/115000317012-test\",\"position\":0,\"created_at\":\"2017-11-07T04:02:19Z\",\"updated_at\":\"2017-11-07T04:02:19Z\",\"name\":\"test\",\"description\":\"this is a test\",\"locale\":\"en-us\",\"source_locale\":\"en-us\",\"outdated\":false}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"1f1ba13c7c236634ec738a64f44f569b\"",
          "Status": "201 Created",
          "X-Zendesk-API-Version": "v2",
          "X-Zendesk-Origin-Server": "hcapp19.pod13.usw2.zdsys.com",
          "X-Zendesk-User-Id": ""
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://zenpydevhelp.zendesk.com/api/v2/help_center/categories.json?&include="
      }
    },
    {
      "recorded_at": "2017-11-07T04:02:19",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"category\": {\"created_at\": \"2017-11-07T04:02:19Z\", \"description\": \"this is a test\", \"html_url\": \"https://zenpydevhelp.zendesk.com/hc/en-us/categories/115000317012-test\", \"id\": 115000317012, \"locale\": \"en-us\", \"name\": \"test\", \"outdated\": false, \"position\": 0, \"source_locale\": \"en-us\", \"updated_at\": \"2017-11-07T04:02:19Z\", \[...]
