{
  "http_interactions": [
    {
      "recorded_at": "2023-08-09T10:40:03",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/octet-stream"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/uploads.json?filename=README.md"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"upload\":{\"token\":\"7MtLzN0UpcBFKuxH3THCOh7hP\",\"expires_at\":\"2023-08-12T10:40:03Z\",\"attachments\":[{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/attachments/12977278368018.json\",\"id\":12977278368018,\"file_name\":\"README.md\",\"content_url\":\"https://d3v-zenpydev.zendesk.com/attachments/token/n98VsW9ugsoLDB8fkNE19st5z/?name=README.md\",\"mapped_content_url\":\"https://d3v-zenpydev.zendesk.com/attachments/token/n98VsW9ugsoLDB8fkNE19st5z/?name=README.md\",\"content_type\":\"application/x-genesis-rom\",\"size\":14338,\"width\":null,\"height\":null,\"inline\":false,\"deleted\":false,\"malware_access_override\":false,\"malware_scan_result\":\"not_scanned\",\"thumbnails\":[]}],\"attachment\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/attachments/12977278368018.json\",\"id\":12977278368018,\"file_name\":\"README.md\",\"content_url\":\"https://d3v-zenpydev.zendesk.com/attachments/token/n98VsW9ugsoLDB8fkNE19st5z/?name=README.md\",\"mapped_content_url\":\"https://d3v-zenpydev.zendesk.com/attachments/token/n98VsW9ugsoLDB8fkNE19st5z/?name=README.md\",\"content_type\":\"application/x-genesis-rom\",\"size\":14338,\"width\":null,\"height\":null,\"inline\":false,\"deleted\":false,\"malware_access_override\":false,\"malware_scan_result\":\"not_scanned\",\"thumbnails\":[]}}}"
        },
        "headers": {
          "Content-Type": [
            "text/plain; charset=utf-8"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"ca2448145340a71cc7f1099a2320e240\""
          ],
          "location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/attachments/12977278368018.json"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "697"
          ],
          "rate-limit-reset": [
            "57"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "697"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-application-version": [
            "v17926"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-56c6d98d7f-sm547"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/uploads.json?filename=README.md"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}