{
  "http_interactions": [
    {
      "recorded_at": "2024-08-20T05:48:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/octet-stream"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/uploads.json?filename=README.md"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"upload\":{\"token\":\"343fz6gCfPmOZn5cJ2v88tKXt\",\"expires_at\":\"2024-08-23T05:48:17Z\",\"attachments\":[{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/attachments/32535150721043.json\",\"id\":32535150721043,\"file_name\":\"README.md\",\"content_url\":\"https://d3v-zenpydev.zendesk.com/attachments/token/szo0KO3YjKNc9SxOWR0CJc9eQ/?name=README.md\",\"mapped_content_url\":\"https://d3v-zenpydev.zendesk.com/attachments/token/szo0KO3YjKNc9SxOWR0CJc9eQ/?name=README.md\",\"content_type\":\"application/x-genesis-rom\",\"size\":14165,\"width\":null,\"height\":null,\"inline\":false,\"deleted\":false,\"malware_access_override\":false,\"malware_scan_result\":\"not_scanned\",\"thumbnails\":[]}],\"attachment\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/attachments/32535150721043.json\",\"id\":32535150721043,\"file_name\":\"README.md\",\"content_url\":\"https://d3v-zenpydev.zendesk.com/attachments/token/szo0KO3YjKNc9SxOWR0CJc9eQ/?name=README.md\",\"mapped_content_url\":\"https://d3v-zenpydev.zendesk.com/attachments/token/szo0KO3YjKNc9SxOWR0CJc9eQ/?name=README.md\",\"content_type\":\"application/x-genesis-rom\",\"size\":14165,\"width\":null,\"height\":null,\"inline\":false,\"deleted\":false,\"malware_access_override\":false,\"malware_scan_result\":\"not_scanned\",\"thumbnails\":[]}}}"
        },
        "headers": {
          "Content-Type": [
            "text/plain; charset=utf-8"
          ],
          "X-Zendesk-API-Gateway": [
            "yes"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"59b122719a1709752512f71036bd02d2\""
          ],
          "location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/attachments/32535150721043.json"
          ],
          "ratelimit-limit": [
            "700"
          ],
          "ratelimit-remaining": [
            "699"
          ],
          "ratelimit-reset": [
            "43"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "699"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-application-version": [
            "v21803"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-855c884564-mv7h4"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/uploads.json?filename=README.md"
      }
    },
    {
      "recorded_at": "2024-08-20T05:48:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/uploads/343fz6gCfPmOZn5cJ2v88tKXt.json"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Zendesk-API-Gateway": [
            "yes"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "ratelimit-limit": [
            "700"
          ],
          "ratelimit-remaining": [
            "698"
          ],
          "ratelimit-reset": [
            "43"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "698"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-application-version": [
            "v21803"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-855c884564-dt5rt"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/uploads/343fz6gCfPmOZn5cJ2v88tKXt.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}