{
  "http_interactions": [
    {
      "recorded_at": "2024-01-17T18:31:18",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"call\": {\"app_id\": 1003048, \"call_ended_at\": \"2022-01-27T15:32:40+01\", \"call_started_at\": \"2022-01-27T15:31:40+01\", \"direction\": \"inbound\", \"from_line\": \"+183808333456\", \"from_line_nickname\": \"Sales\", \"to_line\": \"+149488484873\", \"to_line_nickname\": \"Technical Support\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/calls.json"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"call\":{\"id\":16444799095826,\"account_id\":850916,\"ticket_id\":null,\"end_user_id\":null,\"organization_id\":null,\"brand_id\":null,\"app_id\":1003048,\"agent_id\":null,\"from_line\":\"+183808333456\",\"from_line_nickname\":\"Sales\",\"to_line\":\"+149488484873\",\"to_line_nickname\":\"Technical Support\",\"call_started_at\":\"2022-01-27T14:31:40Z\",\"call_ended_at\":\"2022-01-27T14:32:40Z\",\"direction\":\"inbound\",\"duration\":null,\"dnis\":null,\"phone_name\":null,\"call_type\":null,\"end_user_location\":null,\"callback\":null,\"callback_source\":null,\"callback_number\":null,\"wait_time\":null,\"time_to_answer\":null,\"queue_time\":null,\"exceeded_queue_time\":null,\"queue_name\":null,\"ivr_time_spent\":null,\"ivr_hops\":null,\"ivr_action\":null,\"ivr_routed_to\":null,\"ivr_destination_group_name\":null,\"talk_time\":null,\"hold_time\":null,\"consultation_time\":null,\"wrap_up_time\":null,\"completion_status\":null,\"call_abandoned_position\":null,\"customer_requested_voicemail\":null,\"voicemail\":null,\"outside_business_hours\":null,\"overflowed\":null,\"overflowed_to\":null,\"call_disposition\":null,\"recording_url\":null,\"recording_time\":null,\"not_recording_time\":null,\"call_recording_consent_action\":null,\"recording_control_interactions\":null,\"created_at\":\"2024-01-17T18:31:18Z\",\"updated_at\":\"2024-01-17T18:31:18Z\",\"transcript\":null,\"external_id\":null}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"80e7d694da9e6a4abc494f016a2eec87\""
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "700"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-origin-server": [
            "voice-app-server-59c955f4bd-l6wh9"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/calls.json"
      }
    },
    {
      "recorded_at": "2024-01-17T18:31:18",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"call_fields\": [\"direction\"], \"title\": \"This is a ticket comment 2\"}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/calls/16444799095826/comments.json"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":16444825011986,\"type\":\"TpeVoiceComment\",\"public\":false,\"data\":{\"app_id\":1003048,\"app_name\":\"3CX calls\",\"author_id\":null,\"call_id\":16444799095826,\"direction\":\"inbound\",\"external_id\":null,\"title\":\"This is a ticket comment 2\",\"via_id\":45,\"recording_url\":\"\"},\"formatted_from\":\"Unknown\",\"formatted_to\":\"Unknown\",\"transcription_visible\":false,\"author_id\":1568991111,\"body\":\"This is a ticket comment 2\\n\\nSummary\\nDirection: inbound\",\"html_body\":\"\\u003cdiv class=\\\"zd-comment\\\" dir=\\\"auto\\\"\\u003e\\u003cp dir=\\\"auto\\\"\\u003eThis is a ticket comment 2\\u003c/p\\u003e\\n\\u003cp dir=\\\"auto\\\"\\u003eSummary\\u003cbr\\u003e\\nDirection: inbound\\u003c/p\\u003e\\u003c/div\\u003e\",\"trusted\":true,\"attachments\":[],\"created_at\":\"2024-01-17T18:31:18Z\",\"audit_id\":16444825011858,\"title\":\"This is a ticket comment 2\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"ce9ca2d1c7a80b059a26ffe06af87044\""
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "700"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-api-warn": [
            "Removed restricted keys [\"comment\"] from parameters according to whitelist"
          ],
          "x-zendesk-origin-server": [
            "voice-app-server-59c955f4bd-nb99k"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/calls/16444799095826/comments.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}