{
  "http_interactions": [
    {
      "recorded_at": "2023-08-31T18:47:42",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"organization\": {\"id\": null, \"name\": \"testOrganizationNone\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/organizations.json"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"organization\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/organizations/6097508345114.json\",\"id\":6097508345114,\"name\":\"testOrganizationNone\",\"shared_tickets\":false,\"shared_comments\":false,\"external_id\":null,\"created_at\":\"2023-08-31T18:47:42Z\",\"updated_at\":\"2023-08-31T18:47:42Z\",\"domain_names\":[],\"details\":null,\"notes\":null,\"group_id\":null,\"tags\":[],\"organization_fields\":{}}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"370d142b496b2b0f7184a2e9a2eaeca4\""
          ],
          "location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/organizations/6097508345114.json"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "666"
          ],
          "rate-limit-reset": [
            "18"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "666"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-api-warn": [
            "{:allowed_parameters=>{:controller=>\"organizations\", :action=>\"create\", :unpermitted_keys=>[\"organization.id\"], :invalid_values=>[]}}"
          ],
          "x-zendesk-application-version": [
            "v18239"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-566774b49d-qxr4m"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/organizations.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}