{
  "http_interactions": [
    {
      "recorded_at": "2023-09-17T04:45:23",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"topic\": {\"description\": \"this is a Topic test\", \"id\": \"\", \"name\": \"test\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/community/topics.json"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"topic\":{\"id\":6157856794778,\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/help_center/community/topics/6157856794778.json\",\"html_url\":\"https://d3v-zenpydev.zendesk.com/hc/en-us/community/topics/6157856794778-test\",\"name\":\"test\",\"description\":\"this is a Topic test\",\"position\":0,\"follower_count\":0,\"community_id\":6130869406490,\"created_at\":\"2023-09-17T04:45:23Z\",\"updated_at\":\"2023-09-17T04:45:23Z\",\"manageable_by\":\"staff\",\"user_segment_id\":null}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"1c9118a15ea8211b1579d6361103f4a4\""
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "696"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-origin-server": [
            "help-center-unicorn-758949c487-t72hz"
          ],
          "x-zendesk-processed-host-header": [
            "d3v-zenpydev.zendesk.com"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/community/topics.json"
      }
    },
    {
      "recorded_at": "2023-09-17T04:45:23",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"topic\": {\"id\": 6157856794778}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/community/topics/6157856794778.json"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "695"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-origin-server": [
            "help-center-unicorn-758949c487-cwkvf"
          ],
          "x-zendesk-processed-host-header": [
            "d3v-zenpydev.zendesk.com"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/community/topics/6157856794778.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}