{
  "http_interactions": [
    {
      "recorded_at": "2023-09-18T23:30:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"ticket_field\": {\"title\": \"I AM A TEST\", \"type\": \"text\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/ticket_fields.json"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"ticket_field\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/ticket_fields/6164064539418.json\",\"id\":6164064539418,\"type\":\"text\",\"title\":\"I AM A TEST\",\"raw_title\":\"I AM A TEST\",\"description\":\"I AM A TEST\",\"raw_description\":\"I AM A TEST\",\"position\":9999,\"active\":true,\"required\":false,\"collapsed_for_agents\":false,\"regexp_for_validation\":null,\"title_in_portal\":\"I AM A TEST\",\"raw_title_in_portal\":\"I AM A TEST\",\"visible_in_portal\":false,\"editable_in_portal\":false,\"required_in_portal\":false,\"tag\":null,\"created_at\":\"2023-09-18T23:30:15Z\",\"updated_at\":\"2023-09-18T23:30:15Z\",\"removable\":true,\"key\":null,\"agent_description\":null}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"829ed2131c53fbf7941718859a1d0ebc\""
          ],
          "location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/ticket_fields/6164064539418.json"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "669"
          ],
          "rate-limit-reset": [
            "45"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "669"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-application-version": [
            "v18385"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-7bd9f74fd7-qxtht"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/ticket_fields.json"
      }
    },
    {
      "recorded_at": "2023-09-18T23:30:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"ticket_field\": {\"id\": 6164064539418}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/ticket_fields/6164064539418.json"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "668"
          ],
          "rate-limit-reset": [
            "44"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "668"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-api-warn": [
            "{:allowed_parameters=>{:controller=>\"ticket_fields\", :action=>\"destroy\", :unpermitted_keys=>[\"ticket_field.id\", \"ticket_field\"], :invalid_values=>[]}}"
          ],
          "x-zendesk-application-version": [
            "v18385"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-7bd9f74fd7-799h8"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/ticket_fields/6164064539418.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}