{
  "http_interactions": [
    {
      "recorded_at": "2017-04-23T13:52:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"organization\": {\"created_at\": \"2017-04-23T13:52:23Z\", \"id\": 16414988647, \"name\": \"testOrganization\", \"shared_comments\": false, \"shared_tickets\": false, \"tags\": [], \"updated_at\": \"2017-04-23T13:52:23Z\", \"url\": \"https://facetoe1.zendesk.com/api/v2/organizations/16414988647.json\", \"domain_names\": [], \"abilities\": {\"url\": \"https://facetoe1.zendesk.com/api/v2/organizations/16414988647.json\", \"organization_id\": 16414988647, \"can_edit_users\": true, \"can_access_tickets\": true}}}"
        },
        "headers": {
          "Authorization": "Basic ZmFjZXRvZUBmYWNldG9lLmNvbS5hdS90b2tlbjpkbWZIVnh6ak90b0ZsVlhJNnMzeFE2YmQ1dXZ1RG5Sb0kydkZWWW85",
          "Content-type": "application/json"
        },
        "method": "DELETE",
        "uri": "https://facetoe1.zendesk.com/api/v2/organizations/16414988647.json&include=abilities"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Rate-Limit": "400",
          "X-Rate-Limit-Remaining": "381",
          "X-Zendesk-API-Version": "v2",
          "X-Zendesk-API-Warn": "Removed restricted keys [\"created_at\", \"name\", \"shared_comments\", \"shared_tickets\", \"tags\", \"updated_at\", \"url\", \"domain_names\", \"url\", \"organization_id\", \"can_edit_users\", \"can_access_tickets\", \"abilities\", \"organization\"] from parameters according to whitelist",
          "X-Zendesk-Application-Version": "v20.24",
          "X-Zendesk-Origin-Server": "app46.pod5.iad1.zdsys.com",
          "X-Zendesk-Request-Id": "6f2f6d7fa542e15ba406"
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://facetoe1.zendesk.com/api/v2/organizations/16414988647.json&include=abilities"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}