{
  "http_interactions": [
    {
      "recorded_at": "2023-09-18T23:37:07",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"organization\": {\"name\": \"testOrganizationNone\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/organizations.json"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"organization\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/organizations/6164095047578.json\",\"id\":6164095047578,\"name\":\"testOrganizationNone\",\"shared_tickets\":false,\"shared_comments\":false,\"external_id\":null,\"created_at\":\"2023-09-18T23:37:07Z\",\"updated_at\":\"2023-09-18T23:37:07Z\",\"domain_names\":[],\"details\":null,\"notes\":null,\"group_id\":null,\"tags\":[],\"organization_fields\":{}}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"61ceba5371e1be2c28e0c75f4cd7b905\""
          ],
          "location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/organizations/6164095047578.json"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "687"
          ],
          "rate-limit-reset": [
            "53"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "687"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-application-version": [
            "v18385"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-7bd9f74fd7-8kkvk"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/organizations.json"
      }
    },
    {
      "recorded_at": "2023-09-18T23:37:07",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"organization\": {\"id\": 6164095047578}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/organizations/6164095047578.json"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "686"
          ],
          "rate-limit-reset": [
            "53"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "686"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-api-warn": [
            "{:allowed_parameters=>{:controller=>\"organizations\", :action=>\"destroy\", :unpermitted_keys=>[\"organization.id\", \"organization\"], :invalid_values=>[]}}"
          ],
          "x-zendesk-application-version": [
            "v18385"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-7bd9f74fd7-58t7s"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/organizations/6164095047578.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}