{
  "http_interactions": [
    {
      "recorded_at": "2023-08-16T14:59:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"webhook\": {\"id\": \"01H7ZDQ90AAYFF15CG6NZJ81PP\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/webhooks/01H7ZDQ90AAYFF15CG6NZJ81PP"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "x-rate-limit": [
            "100"
          ],
          "x-rate-limit-remaining": [
            "65"
          ],
          "x-zendesk-api-version": [
            "v2"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/webhooks/01H7ZDQ90AAYFF15CG6NZJ81PP"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}