{
  "http_interactions": [
    {
      "recorded_at": "2023-08-16T14:54:46",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"automation\": {\"actions\": [{\"field\": \"status\", \"value\": \"open\"}], \"id\": null, \"title\": \"testAutomationNone\", \"all\": [{\"field\": \"status\", \"operator\": \"is\", \"value\": \"pending\"}, {\"field\": \"PENDING\", \"operator\": \"greater_than\", \"value\": \"24\"}]}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/automations.json"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"automation\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/automations/13120626136210.json\",\"id\":13120626136210,\"title\":\"testAutomationNone\",\"active\":true,\"updated_at\":\"2023-08-16T14:54:46Z\",\"created_at\":\"2023-08-16T14:54:46Z\",\"default\":false,\"actions\":[{\"field\":\"status\",\"value\":\"open\"}],\"conditions\":{\"all\":[{\"field\":\"status\",\"operator\":\"is\",\"value\":\"pending\"},{\"field\":\"PENDING\",\"operator\":\"greater_than\",\"value\":\"24\"}],\"any\":[]},\"position\":10001,\"raw_title\":\"testAutomationNone\"}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"f52ce5687e05bfe6d73b7765dbee9d50\""
          ],
          "location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/automations/13120626136210.json"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "611"
          ],
          "rate-limit-reset": [
            "14"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "611"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-api-warn": [
            "{:allowed_parameters=>{:controller=>\"automations\", :action=>\"create\", :unpermitted_keys=>[\"automation.id\"], :invalid_values=>[]}}"
          ],
          "x-zendesk-application-version": [
            "v17988"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-8589bd8f84-bzqhv"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/automations.json"
      }
    },
    {
      "recorded_at": "2023-08-16T14:54:46",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"automation\": {\"id\": 13120626136210}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/automations/13120626136210.json"
    [...]
