{
  "http_interactions": [
    {
      "recorded_at": "2019-12-02T23:56:03",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic ZXhhbXBsZUBleGFtcGxlLmNvbS90b2tlbjpub3QgcmVhbGx5IGEgdG9rZW4="
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/uploads.json?filename=README.md"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"upload\":{\"token\":\"a6gHn2hP1V4qtn4CZqfn7Rx4x\",\"expires_at\":\"2019-12-05T23:56:03Z\",\"attachments\":[{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/attachments/371680310511.json\",\"id\":371680310511,\"file_name\":\"README.md\",\"content_url\":\"https://d3v-zenpydev.zendesk.com/attachments/token/6EUJD7TNFzsyEASysYjLGIQVz/?name=README.md\",\"mapped_content_url\":\"https://d3v-zenpydev.zendesk.com/attachments/token/6EUJD7TNFzsyEASysYjLGIQVz/?name=README.md\",\"content_type\":\"application/x-genesis-rom\",\"size\":5160,\"width\":null,\"height\":null,\"inline\":false,\"deleted\":false,\"thumbnails\":[]}],\"attachment\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/attachments/371680310511.json\",\"id\":371680310511,\"file_name\":\"README.md\",\"content_url\":\"https://d3v-zenpydev.zendesk.com/attachments/token/6EUJD7TNFzsyEASysYjLGIQVz/?name=README.md\",\"mapped_content_url\":\"https://d3v-zenpydev.zendesk.com/attachments/token/6EUJD7TNFzsyEASysYjLGIQVz/?name=README.md\",\"content_type\":\"application/x-genesis-rom\",\"size\":5160,\"width\":null,\"height\":null,\"inline\":false,\"deleted\":false,\"thumbnails\":[]}}}"
        },
        "headers": {
          "Content-Type": [
            "text/plain; charset=UTF-8"
          ],
          "ETag": [
            "W/\"e0b059d1290651bb21ecc3707e85cd74\""
          ],
          "Location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/attachments/371680310511.json"
          ],
          "X-Rate-Limit": [
            "700"
          ],
          "X-Rate-Limit-Remaining": [
            "700"
          ],
          "X-Zendesk-API-Version": [
            "v2"
          ],
          "X-Zendesk-API-Warn": [
            "Removed restricted keys [\"!.Build Status.(https://travis-ci.org/facetoe/zenpy.svg?branch\", \"!.Build Status\", \"!\"] from parameters according to whitelist"
          ],
          "X-Zendesk-Application-Version": [
            "v3708.19"
          ],
          "X-Zendesk-Origin-Server": [
            "classic-app-server-5f684dd4d8-4fhpf"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/uploads.json?filename=README.md"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}