{
  "http_interactions": [
    {
      "recorded_at": "2017-04-23T13:52:04",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"group\": {\"name\": \"testGroup\"}}"
        },
        "headers": {
          "Authorization": "Basic ZmFjZXRvZUBmYWNldG9lLmNvbS5hdS90b2tlbjpkbWZIVnh6ak90b0ZsVlhJNnMzeFE2YmQ1dXZ1RG5Sb0kydkZWWW85",
          "Content-type": "application/json"
        },
        "method": "POST",
        "uri": "https://facetoe1.zendesk.com/api/v2/groups.json?&include=users"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"group\":{\"url\":\"https://facetoe1.zendesk.com/api/v2/groups/41772307.json\",\"id\":41772307,\"name\":\"testGroup\",\"deleted\":false,\"created_at\":\"2017-04-23T13:52:12Z\",\"updated_at\":\"2017-04-23T13:52:12Z\",\"user_ids\":[]},\"users\":[]}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "ETag": "\"18ba44687d30706ebb8910bd93b5799b\"",
          "Location": "https://facetoe1.zendesk.com/api/v2/groups/41772307.json",
          "X-Rate-Limit": "400",
          "X-Rate-Limit-Remaining": "394",
          "X-Zendesk-API-Version": "v2",
          "X-Zendesk-Application-Version": "v20.24",
          "X-Zendesk-Origin-Server": "app42.pod5.iad1.zdsys.com",
          "X-Zendesk-Request-Id": "13d3d0b0beaa4347a168"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://facetoe1.zendesk.com/api/v2/groups.json?&include=users"
      }
    },
    {
      "recorded_at": "2017-04-23T13:52:04",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"group\": {\"created_at\": \"2017-04-23T13:52:12Z\", \"deleted\": false, \"id\": 41772307, \"name\": \"testGroup\", \"updated_at\": \"2017-04-23T13:52:12Z\", \"url\": \"https://facetoe1.zendesk.com/api/v2/groups/41772307.json\", \"user_ids\": []}}"
        },
        "headers": {
          "Authorization": "Basic ZmFjZXRvZUBmYWNldG9lLmNvbS5hdS90b2tlbjpkbWZIVnh6ak90b0ZsVlhJNnMzeFE2YmQ1dXZ1RG5Sb0kydkZWWW85",
          "Content-type": "application/json"
        },
        "method": "DELETE",
        "uri": "https://facetoe1.zendesk.com/api/v2/groups/41772307.json&include=users"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Rate-Limit": "400",
          "X-Rate-Limit-Remaining": "393",
          "X-Zendesk-API-Version": "v2",
          "X-Zendesk-API-Warn": "Removed restricted keys [\"created_at\", \"deleted\", \"name\", \"updated_at\", \"url\", \"user_ids\", \"group\"] from parameters according to whitelist",
          "X-Zendesk-Application-Version": "v20.24",
          "X-Zendesk-Origin-Server": "app37.pod5.iad1.zdsys.com",
          "X-Zendesk-Request-Id": "78e5fbfb84afd82eef8a"
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://facetoe1.zendesk.com/api/v2/groups/41772307.json&include=users"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}