{
  "http_interactions": [
    {
      "recorded_at": "2018-04-25T14:44:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"users\": [{\"id\": null, \"name\": \"testUser\"}, {\"id\": null, \"name\": \"testUser\"}, {\"id\": null, \"name\": \"testUser\"}, {\"id\": null, \"name\": \"testUser\"}, {\"id\": null, \"name\": \"testUser\"}, {\"id\": null, \"name\": \"testUser\"}, {\"id\": null, \"name\": \"testUser\"}, {\"id\": null, \"name\": \"testUser\"}, {\"id\": null, \"name\": \"testUser\"}, {\"id\": null, \"name\": \"testUser\"}, {\"id\": null, \"name\": \"testUser\"}, {\"id\": null, \"name\": \"testUser\"}, {\"id\": null, \"name\": \"testUser\"}, {\"i[...]
