{
  "http_interactions": [
    {
      "recorded_at": "2023-08-31T18:44:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"user\": {\"id\": \"\", \"name\": \"testUser\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/users.json"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"user\":{\"id\":6097490234138,\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/users/6097490234138.json\",\"name\":\"testUser\",\"email\":null,\"created_at\":\"2023-08-31T18:44:53Z\",\"updated_at\":\"2023-08-31T18:44:53Z\",\"time_zone\":\"America/New_York\",\"iana_time_zone\":\"America/New_York\",\"phone\":null,\"shared_phone_number\":null,\"photo\":null,\"locale_id\":1,\"locale\":\"en-US\",\"organization_id\":null,\"role\":\"end-user\",\"verified\":false,\"external_id\":null,\"tags\":[],\"alias\":null,\"active\":true,\"shared\":false,\"shared_agent\":false,\"last_login_at\":null,\"two_factor_auth_enabled\":false,\"signature\":null,\"details\":null,\"notes\":null,\"role_type\":null,\"custom_role_id\":null,\"moderator\":false,\"ticket_restriction\":\"requested\",\"only_private_comments\":false,\"restricted_agent\":true,\"suspended\":false,\"default_group_id\":null,\"report_csv\":false,\"user_fields\":{}}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"80e647337b32c66cb56a6838f431921a\""
          ],
          "location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/users/6097490234138.json"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "673"
          ],
          "rate-limit-reset": [
            "7"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "673"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-application-version": [
            "v18239"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-566774b49d-ws7bk"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/users.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}