{
  "http_interactions": [
    {
      "recorded_at": "2018-03-30T05:55:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"category\": {\"description\": \"this is a test\", \"id\": null, \"name\": \"test\"}}"
        },
        "headers": {
          "Authorization": "Basic c2luayt6ZW5kZXNrQGZhY2V0b2UuY29tLmF1L3Rva2VuOnBUNXQ2ZEZ4QWltU1hoNEkydjBYeVMwSkNlYVV4eWROQUxFRkV1VWM=",
          "Content-Type": "application/json"
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/help_center/categories.json"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"category\":{\"id\":360000251512,\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/help_center/en-us/categories/360000251512-test.json\",\"html_url\":\"https://d3v-zenpydev.zendesk.com/hc/en-us/categories/360000251512-test\",\"position\":0,\"created_at\":\"2018-03-30T05:55:41Z\",\"updated_at\":\"2018-03-30T05:55:41Z\",\"name\":\"test\",\"description\":\"this is a test\",\"locale\":\"en-us\",\"source_locale\":\"en-us\",\"outdated\":false}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"bc5b1aa4abf290243f836cf8abcd8e30\"",
          "Status": "201 Created",
          "X-Zendesk-API-Version": "v2",
          "X-Zendesk-Origin-Server": "hcapp24.pod13.usw2.zdsys.com",
          "X-Zendesk-User-Id": ""
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/help_center/categories.json"
      }
    },
    {
      "recorded_at": "2018-03-30T05:55:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"category\": {\"id\": 360000251512}}"
        },
        "headers": {
          "Authorization": "Basic c2luayt6ZW5kZXNrQGZhY2V0b2UuY29tLmF1L3Rva2VuOnBUNXQ2ZEZ4QWltU1hoNEkydjBYeVMwSkNlYVV4eWROQUxFRkV1VWM=",
          "Content-Type": "application/json"
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/help_center/categories/360000251512.json"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "Status": "204 No Content",
          "X-Zendesk-API-Version": "v2",
          "X-Zendesk-Origin-Server": "hcapp13.pod13.usw2.zdsys.com",
          "X-Zendesk-User-Id": ""
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/help_center/categories/360000251512.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}