{
  "http_interactions": [
    {
      "recorded_at": "2017-04-22T09:57:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"macro\": {\"title\": \"TestMacro\", \"actions\": [{\"field\": \"status\", \"value\": \"solved\"}]}}"
        },
        "headers": {
          "Authorization": "Basic ZmFjZXRvZUBmYWNldG9lLmNvbS5hdS90b2tlbjpkbWZIVnh6ak90b0ZsVlhJNnMzeFE2YmQ1dXZ1RG5Sb0kydkZWWW85",
          "Content-type": "application/json"
        },
        "method": "POST",
        "uri": "https://facetoe1.zendesk.com/api/v2/macros"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"macro\":{\"url\":\"https://facetoe1.zendesk.com/api/v2/macros/305824607.json\",\"id\":305824607,\"title\":\"TestMacro\",\"active\":true,\"updated_at\":\"2017-04-22T09:58:07Z\",\"created_at\":\"2017-04-22T09:58:07Z\",\"position\":10000,\"description\":null,\"actions\":[{\"field\":\"status\",\"value\":\"solved\"}],\"restriction\":null}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "ETag": "\"fcc230cfec0d0fc5211ff69e8d7a6c26\"",
          "Location": "https://facetoe1.zendesk.com/api/v2/macros/305824607.json",
          "X-Rate-Limit": "400",
          "X-Rate-Limit-Remaining": "399",
          "X-Zendesk-API-Version": "v2",
          "X-Zendesk-Application-Version": "v20.24",
          "X-Zendesk-Origin-Server": "app48.pod5.iad1.zdsys.com",
          "X-Zendesk-Request-Id": "b49ddf4596fbba0589b6"
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://facetoe1.zendesk.com/api/v2/macros"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}