{
  "http_interactions": [
    {
      "recorded_at": "2020-02-01T23:51:23",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"user_field\": {\"description\": \"test\", \"id\": null, \"key\": \"somethingsomethingsomething\", \"title\": \"i am test\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic c2luayt6ZW5kZXNrQGZhY2V0b2UuY29tLmF1L3Rva2VuOm5PczB2ZVBvQUFQM0Zpb2NMZFRaNllxdlN6bnhyUkFpbEtmcTRLYk4="
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/user_fields.json"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"user_field\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/user_fields/360000992732.json\",\"id\":360000992732,\"type\":\"text\",\"key\":\"somethingsomethingsomething\",\"title\":\"i am test\",\"description\":\"test\",\"raw_title\":\"i am test\",\"raw_description\":\"test\",\"position\":9999,\"active\":true,\"system\":false,\"regexp_for_validation\":null,\"created_at\":\"2020-02-01T23:51:22Z\",\"updated_at\":\"2020-02-01T23:51:22Z\"}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "ETag": [
            "W/\"e36682580082a83bd573ec24f8fd2df6\""
          ],
          "Location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/user_fields/360000992732.json"
          ],
          "X-Rate-Limit": [
            "700"
          ],
          "X-Rate-Limit-Remaining": [
            "696"
          ],
          "X-Zendesk-API-Version": [
            "v2"
          ],
          "X-Zendesk-API-Warn": [
            "Removed restricted keys [\"user_field.id\"] from parameters according to whitelist"
          ],
          "X-Zendesk-Application-Version": [
            "v4185.6"
          ],
          "X-Zendesk-Origin-Server": [
            "classic-app-server-9cfdc9847-62hrv"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/user_fields.json"
      }
    },
    {
      "recorded_at": "2020-02-01T23:51:23",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"user_field\": {\"id\": 360000992732}}"
        },
        "headers": {
          "Authorization": [
            "Basic c2luayt6ZW5kZXNrQGZhY2V0b2UuY29tLmF1L3Rva2VuOm5PczB2ZVBvQUFQM0Zpb2NMZFRaNllxdlN6bnhyUkFpbEtmcTRLYk4="
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/user_fields/360000992732.json"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Rate-Limit": [
            "700"
          ],
          "X-Rate-Limit-Remaining": [
            "695"
          ],
          "X-Zendesk-API-Version": [
            "v2"
          ],
          "X-Zendesk-API-Warn": [
            "Removed restricted keys [\"user_field.id\", \"user_field\"] from parameters according to whitelist"
          ],
          "X-Zendesk-Application-Version": [
            "v4185.6"
          ],
          "X-Zendesk-Origin-Server": [
            "classic-app-server-9cfdc9847-dztbp"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/user_fields/360000992732.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}