{
  "http_interactions": [
    {
      "recorded_at": "2023-08-31T18:45:07",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"user_field\": {\"description\": \"test\", \"id\": null, \"key\": \"somethingsomethingsomething\", \"title\": \"i am test\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/user_fields.json"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"user_field\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/user_fields/6097502026778.json\",\"id\":6097502026778,\"type\":\"text\",\"key\":\"somethingsomethingsomething\",\"title\":\"i am test\",\"description\":\"test\",\"raw_title\":\"i am test\",\"raw_description\":\"test\",\"position\":9999,\"active\":true,\"system\":false,\"regexp_for_validation\":null,\"created_at\":\"2023-08-31T18:45:07Z\",\"updated_at\":\"2023-08-31T18:45:07Z\"}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"e59f1a37650ff7b45fcfe1b3b38cc1f9\""
          ],
          "location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/user_fields/6097502026778.json"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "678"
          ],
          "rate-limit-reset": [
            "53"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "678"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-api-warn": [
            "{:allowed_parameters=>{:controller=>\"user_fields\", :action=>\"create\", :unpermitted_keys=>[\"user_field.id\"], :invalid_values=>[]}}"
          ],
          "x-zendesk-application-version": [
            "v18239"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-566774b49d-bj5nq"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/user_fields.json"
      }
    },
    {
      "recorded_at": "2023-08-31T18:45:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"user_field\": {\"id\": 6097502026778}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/user_fields/6097502026778.json"
      [...]
