{
  "http_interactions": [
    {
      "recorded_at": "2023-08-09T10:48:43",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"user_field\": {\"description\": \"test\", \"id\": null, \"key\": \"somethingsomethingsomething\", \"title\": \"i am test\"}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/user_fields.json"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"user_field\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/user_fields/12977410070674.json\",\"id\":12977410070674,\"type\":\"text\",\"key\":\"somethingsomethingsomething\",\"title\":\"i am test\",\"description\":\"test\",\"raw_title\":\"i am test\",\"raw_description\":\"test\",\"position\":9999,\"active\":true,\"system\":false,\"regexp_for_validation\":null,\"created_at\":\"2023-08-09T10:48:43Z\",\"updated_at\":\"2023-08-09T10:48:43Z\"}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"b86ba66f4498be22e26615d5416f0052\""
          ],
          "location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/user_fields/12977410070674.json"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "674"
          ],
          "rate-limit-reset": [
            "17"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "674"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-api-warn": [
            "{:allowed_parameters=>{:controller=>\"user_fields\", :action=>\"create\", :unpermitted_keys=>[\"user_field.id\"], :invalid_values=>[]}}"
          ],
          "x-zendesk-application-version": [
            "v17926"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-56c6d98d7f-xvtwl"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/user_fields.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}